<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<ion-row class="row-principal" align-items-center>
		<ion-col col-2>
		 
		</ion-col>
		<ion-col col-8>
			<ion-title > <span class="logo">Wortix</span></ion-title>
			
			Pantalla de Métodos de Pago
		
		</ion-col>
		<ion-col col-2>
		 
		</ion-col>
	</ion-row>
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>