<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border style="left:-40px">
    <ion-navbar style="padding-left:40px">
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	<ion-toolbar style="padding-left: 22px;padding-right: 22px; left: 40px;" >
		<ion-title></ion-title>
		<ion-buttons  style="margin-right: 20px;">
			<ion-searchbar (ionInput)="buscar($event)" [(ngModel)]="keyword" [disabled]="searching"  (ionBlur)="s()" (ionFocus)="searchF=true"></ion-searchbar>
			
		</ion-buttons>
		<ion-list class="search-list" [hidden]="!searchF">
			<ion-item *ngFor="let place of serviceLocation.resultadosQ" (click)="selectPlace(place)"> <ng-container *ngFor="let line of place.extra.lines; let ultimo = last; ">{{line}}{{ultimo?'':','}} </ng-container></ion-item>
		</ion-list>
		<ion-range [(ngModel)]="kmA"  mode="md" step="0.25" max="200" color="green-brand" pin="false" (ionChange)='serviceLocation.kmASet(kmA)' [hidden]="searchF" >
				<ion-label range-left> </ion-label>
				<ion-label range-right style="">{{kmA/4}} mi <ion-icon name="pin" style="    font-size: 1.4rem;"></ion-icon></ion-label>
		</ion-range>
	</ion-toolbar>
	
</ion-header>




<ion-content padding>
	<div #map id="map_canvas" style="    height: 100%; width: 100%; background:aliceblue"></div>
	
	 <ion-fab left bottom>
		<button ion-fab mini color="light"  class="fab-tree-points" style="z-index:15"  (click)= "thatIsMyplace()"   >
			 <ion-icon name="checkmark" [hidden] = "procesando"></ion-icon>
			  <ion-spinner name="dots" [hidden] = "!procesando"></ion-spinner>
		</button>
	 </ion-fab>
</ion-content>
