page-about {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		
		font-size: 40px;
	}

}
