
<ion-content padding no-bounce>

    <ion-slides effect="coverflow " direction="vertical" centeredSlides="true"  (ionSlideDidChange)="next()"  dir="ltl" [hidden]="  buttonLabel== 'Call'">
	
		
      <ion-slide style="z-index:10; height: 100%;"  >
        <ion-row class="row-principal" align-items-center >
          <ion-col style=" padding:0px">
            <div id="remote" style="width:100%;"></div>
            <div id="mini"></div>'
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>'

  <div style="text-align: center">{{infoLabel}}</div>
  <ion-list>

    <ion-item>
      <ion-input type="text" value=""  placeholder="Enter destination ID"  [(ngModel)]="distantNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-grid>  
            <ion-row style="    font-size: xx-large;text-align: center;">			
              <ion-col col-12> 			
                <button class='btn-iniciar' ion-button   (click)="pushCall($event)" class="action-b" [ngStyle]="{'background-color': buttonColor}">  
                  <ion-icon name='call' *ngIf="  buttonLabel== 'Call'"></ion-icon>  
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-item>

  </ion-list>


</ion-content>
