page-video-call {

    ion-slides{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
	.scroll-content{
		margin:0px !important;
	}
	
	ion-slide{
		width:101% !important;
		//height:auto !important;
		overflow: hidden;
	}
	
	

	ion-header .toolbar .toolbar-title {
		color: transparent;
		
	}
	

	.logo{
		margin-right:0px;
		-webkit-filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .3));
        filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .3));
	}
	
	.span-logo{
		background-color: rgba(147, 208, 80, 0.81);
		padding: 15px;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		    background-size: 80px;
	}
}
