<ion-header no-border>


		<ion-toolbar >
			<ion-buttons  style="color#fff">
				  <button ion-button icon-only color="royal"  (click)="cancel()">
					<ion-icon name="arrow-back"></ion-icon>
				  </button>
			</ion-buttons>
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
</ion-header>


<ion-content padding style=" background: url('/assets/imgs/descarga.jpg'); background-repeat: no-repeat; background-position: center; background-size:cover">
	<div class="back-color" [hidden]='util.loadData  == 0'>
		<ion-row class="row-principal" align-items-center justify-content-center>
			
			<ion-col col-4 align-self-center style="text-align:center">
				
					<a >
						<mat-spinner [color]="'primary'"></mat-spinner>
					</a> 
					
			</ion-col>
			
		</ion-row>
	</div>
	<div class="segmento" style='width: 100%'>
		<div padding>
		  <ion-segment [(ngModel)]="pet">
			<ion-segment-button value="kittens">
			  Login
			</ion-segment-button>
			<ion-segment-button value="puppies">
			  Register
			</ion-segment-button>
		  </ion-segment>
		</div>

		<div [ngSwitch]="pet">
		  <div *ngSwitchCase="'puppies'">
			    <ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input type="text" [(ngModel)]='newUser.email'></ion-input>
				</ion-item>

				<ion-item>
					<ion-label stacked>Password</ion-label>
					<ion-input type="password" [(ngModel)]='newUser.password'></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Name</ion-label>
					<ion-input type="text" [(ngModel)]='newUser.name'></ion-input>
				</ion-item>

				<ion-item>
					<ion-label stacked>Last Name</ion-label>
					<ion-input type="text" [(ngModel)]='newUser.last_name'></ion-input>
				</ion-item>
					<ion-grid>
		  
					  <ion-row style="    font-size: xx-large;text-align: center;">
						<ion-col col-2></ion-col>
						<ion-col col-8> <button class="btn-iniciar" ion-button block round (click)='nuevaCuenta(newUser)'>Crear Cuenta</button> </ion-col>
						<ion-col col-2></ion-col>
						</ion-row>
				  </ion-grid>
				  <p style="color:#fff">
						Al registrarse acepta nuestros terminos y condiciones
					</p>
		  </div>

		  <div *ngSwitchCase="'kittens'">
				<ion-item>
					<ion-label stacked >Email</ion-label>
					<ion-input type="text" [(ngModel)]='userL.email'></ion-input>
				</ion-item>

				<ion-item>
					<ion-label stacked>Password</ion-label>
					<ion-input type="password" [(ngModel)]="userL.password"></ion-input>
				</ion-item>
				<br>
				<span  style="color:#fff" >  Iniciar sesión con</span>
				<ion-grid>
		  
				  <ion-row style="    font-size: xx-large;text-align: center;">
					<ion-col col-6 (click)="serviceAuth.googleRegister(false)"><a class="red-circle"> <ion-icon name="logo-googleplus" style="color:#55CB17; font-size: 0.8em;"></ion-icon></a></ion-col>
					<ion-col col-6 (click)="serviceAuth.googleRegister(true)"><a class="red-circle"> <ion-icon name="logo-facebook"  style="color:#55CB17;font-size: 0.8em;"></ion-icon></a></ion-col>
					</ion-row>
				  </ion-grid>
					<span style="color:#fff"> &iquest; Olvidó su nombre de usuario o contrase&ntilde;a?</span>
					<ion-grid>
		  
					  <ion-row style="    font-size: xx-large;text-align: center;">
						<ion-col col-2></ion-col>
						<ion-col col-8> <button class="btn-iniciar" ion-button block  (click)="loginCuenta(userL.email, userL.password)">Iniciar Sesión</button> </ion-col>
						<ion-col col-2></ion-col>
						</ion-row>
				  </ion-grid>
					<p style="color:#fff">
						Al registrarse acepta nuestros terminos y condiciones
					</p>
		  </div>
		</div>
	</div>
		
		
	
	
	
</ion-content>
