page-register {

	font-weight:100;
	color:#fff;
	.scroll-content{
		margin:0px !important;
		padding:0px !important;
	}
	.back-color{
		height:100%;
		width:100%;
		   /* background-color: rgba(0, 0, 0, .25) ; */
			overflow: hidden;
			position: absolute;
			z-index:1001;
	}
	
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.segmento{
	text-align:center;
		padding:160px 30px 40px 30px;
		    z-index: 1000;
    position: absolute;
	
		ion-segment{
			padding:0px 25px
		}
		ion-segment-button{
			color: #fff !important;
			border:none !important;
			text-align: left;
			text-transform: capitalize !important;
			height:3.4rem!important;
		}
		ion-segment-button.segment-activated{
			color: #fff !important;
			border-bottom-width: 2px !important;
			border-bottom-style: solid !important;
			border-color:#fff !important;
			text-align: left;
			text-transform: capitalize !important;
			height:3.4rem!important;
			 background-color: rgba(0,0,0,0) !important;
		}
		
		ion-item{
			background:rgba(0,0,0,0) !important;
			
			.item-inner{
				border-bottom: none !important;
				    box-shadow: initial !important;
				
			}
			ion-label{
				color:#fff !important;
				padding-left: 14px;
			}
			
			ion-input{
				color:#fff !important;
				font-weight:100;
				border: white 1px solid;
				padding: 5px 10px;
				border-radius: 10px;
			}
			
		}
		
		.btn-iniciar{
			background: #55cb17 !important;
    border-radius: 7px;
			
		}
		
		
		
		
	}
	
	.red-circle{
			
		background: #E7E7E7;
		padding: 3px 12px 6px 12px;
		border-radius: 50%;
		min-width: 15px;
		width: 15px;

		
	}
	
	ion-spinner  {
		  width: 100px;
		  height: 100px;
		  stroke: #0f0;
		  fill: #fff;
	}
	
	.mat-progress-spinner circle {
		    stroke: #8cca19;
	}
}
