<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>

<ion-content padding  style="background-color: #fff !important">
		<h1> {{issue?.title}} </h1>
		<span class="issu_numero"> #{{issue.id}} - {{issue.status}} </span>
		<span class="issu_numero" (click)="getFiles()" style="float:right; "> <ion-icon name="folder-open" [color]="'#efefef'"  style="font-size:3.7rem"></ion-icon> </span>
		<span class="issu_numero" (click)="getChat()" style="float:right; margin-right: 10px;"> <ion-icon name="ios-mail-outline" [color]="'#efefef'"  style="font-size:3.7rem"></ion-icon> </span>
		<ion-item>
			<ion-label stacked>{{"Estados" | translate }}</ion-label>
			<ion-select [(ngModel)]="issue.status"  (ionChange)="cambiarEstado(issue.status)" >
				  <ion-option value="waiting">{{'waiting' | translate }}</ion-option>
				  <ion-option value="reception">{{'reception' | translate }}</ion-option>
				  <ion-option value="send">{{'send' | translate }}</ion-option>
				  <ion-option value="read">{{'read' | translate }}</ion-option>
				  <ion-option value="approved">{{'approved' | translate }}</ion-option>
				  <ion-option value="closed">{{'closed' | translate }}</ion-option>
				  <ion-option value="scheduled">{{'scheduled' | translate }}</ion-option>
			</ion-select>
		</ion-item>
		
		<ion-grid style="margin-top: 15px">
			<ion-row>
				<ion-col>
					<ion-item class="a">
						<ion-label stacked>Usuario</ion-label>
						<ion-input type="text" value="" [(ngModel)] = "issue.patient.full_name " readonly></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item class="a">
						<ion-label stacked>Genero</ion-label>
						<ion-input type="text" value="" [(ngModel)] = "issue.patient.gender " readonly> </ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			
			<ion-row>
				<ion-col>
					<ion-item class="a">
						<ion-label stacked>Fecha</ion-label>
						<ion-input type="text" value="" [(ngModel)] = "issue.scheduled_date " readonly></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item class="a">
						<ion-label stacked>Hora</ion-label>
						<ion-input type="text" value="" [(ngModel)] = "issue.scheduled_time " readonly></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div class='texto'>
				
			<ion-item class="a">
				<ion-label stacked>Descripcion</ion-label>
				<ion-textarea type="text" value="" [(ngModel)] = "issue.description" readonly></ion-textarea>
			</ion-item>
		</div>
		
		<div class="premap_canvas" *ngIf="issue.type == 'house-visit'">
		
			<div #map id="map_canvas" style="    height: 100%; width: 100%; background:aliceblue" *ngIf="auth.userL.user.id == issue.patient.id || auth.userL.user.id == issue.doctor.id "></div>
		</div>
		<h2 style="font-size:1.6rem">{{"Atendido Por" | translate }}: </h2>
		
		<ion-list (click)="goToDoctor(issue.doctor, 'doctor')" >
			<ion-item  class="perfil-us" style="border:none">
				<ion-avatar item-start>
				  <img [src]="issue.doctor?.photo_url">
				</ion-avatar>
				<h2>{{issue.doctor?.name}} {{issue.doctor?.last_name}}</h2>
				<p>{{issue.doctor?.specialty?.name}} Medicina general</p>
			</ion-item>
		</ion-list>
		<h2 style="font-size:1.6rem; margin-left: 25px;">{{"Agregar comentarios" | translate }} 
			<span class="issu_numero" (click)="util.fileClick('profile_image-id')"style="float:right; "  [ngClass]="{'active-folder':file }"> <ion-icon name="folder"></ion-icon></span>
			
		</h2>
		
		<div class='texto'>
				
			<ion-item class="a">
				<ion-textarea type="text" value="" [(ngModel)] = "comentario" placeholder="Escriba su comentario"></ion-textarea>
			</ion-item>
			<ion-input id="profile_image-id" type="file"  (change)="changeListener($event)" multiple style="display:none"></ion-input>
			<button class="btn-iniciar" ion-button block  (click)="addComentario(comentario)">Realizar Comentario</button> 
		</div>
		<h2 style="font-size:1.6rem" *ngIf="issue.comentarios && issue.comentarios.length > 0">{{"Respuestas" | translate }}: </h2>
		<ion-list *ngFor="let comentario of issue.comentarios">
			<ion-item class="b" > 
					
						<ion-thumbnail item-start [hidden]="comentario.files.length == 0">
							
							<ng-container *ngIf="comentario.files.length > 0 && comentario.files[0].mime_major == 'image'">
								<img [src]="comentario.files[0].url" >
							</ng-container>
							<ng-container *ngIf="comentario.files[0]">
								<a href="{{comentario.files[0].url}}" style="font-size: 1.4rem; color: #61727d;">
									<div  *ngIf=" comentario.files.length > 0 && comentario.files[0].mime_major != 'image'" style="text-align: center;  max-width: 80px;">
										<ion-icon name="document" style="font-size: 2.2em; color: #8cca19;"></ion-icon>
										<p>{{comentario.files[0].name}} </p>
										<ion-icon name="download"></ion-icon>
									</div>
								</a>
							</ng-container>
							
						</ion-thumbnail>
					<h2>{{comentario.commentator?.full_name}}:</h2>
					<p>{{comentario.message }}</p>
				  
			
			</ion-item>
		</ion-list>
		
		<ion-list>
  
</ion-list>
		
		

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	
	<w-footer >
	</w-footer>
</ion-footer>
