
<ion-header no-border >

  <ion-navbar >
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
</ion-header>


<ion-content padding>
	
	<h3>{{"Favorite" | translate }} </h3>
	
	<ion-slides pager initialSlide="1"  [slidesPerView]="1"   effect="slide" spaceBetween=10 [pager]="false">

	  <ion-slide *ngFor="let doctor of providerDoctors.favoriteDoctors" >
		<ion-card (click)="goToProfile(doctor, 'doctor')">
		  <img [src]="doctor?.photo_url"/>
		  <ion-card-content>
			<ion-card-title>
			 {{doctor?.name}}
			  </ion-card-title>
				<p>{{doctor?.specialty?.name}}</p>
		  </ion-card-content>
		  
		</ion-card>
	  </ion-slide>

	  


	  

	</ion-slides>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>