page-favorite-doctors {
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	ion-slides{
		height:75%;
	}
	ion-slide{
		ion-card{
			width: calc(40% - 20px);
			border-radius: 15px !important;
			
			ion-card-content{
				padding:0px !important;
			}
		}
		
		img{
			border-radius: 15px !important;
			width: 100%!important;
			
		}
		ion-card-title{
			font-size:1rem !important;
			font-weight: 900 !important;
			color: #A8A8A8 !important;
		}
		
		p{
			font-size:0.5rem !important;
				font-weight: 100 !important;
		}
	}
	
	h3{
		color: #A8A8A8 !important;
	}
	
	.swiper-slide-next{
		left: 7rem !important;
		position:relative;
		
		
		
		ion-card{
			width: calc(40% - 20px);
		}
	}
	.swiper-slide-prev{
		margin-left: -20px !important;
		position:relative;
		left: 31rem !important;
		
	
		
		ion-card{
			width: calc(40% - 20px);
		}
		
	}
	.swiper-slide-active{
		
		left: 8rem !important;
		width: 66% !important;
		z-index: 1000;
		
		ion-card-title{
			font-size:2rem !important;
			
		}
		
		p{
			font-size:1.5rem !important;
		
		}
		ion-card{
			width: calc(100% -20px);
			
		}
	}
	
	
	
}
