<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	<ion-toolbar >
		<ion-title></ion-title>
		<ion-buttons  style="margin-right: 20px;">
			<ion-searchbar (ionInput)="buscar($event)" [(ngModel)]="keyword"></ion-searchbar>
		</ion-buttons>

		
	</ion-toolbar>
</ion-header>


<ion-content padding (ionScrollEnd)="end($event)">
	<ion-row *ngIf="tipo !=3  && barra == true">
		<ion-col>
			<ion-range [(ngModel)]="singleValue" color="green-brand" pin="false">
				<ion-label range-left> </ion-label>
				<ion-label range-right style="">{{singleValue}}km <ion-icon name="pin" style="    font-size: 1.4rem;"></ion-icon></ion-label>
			</ion-range>
		</ion-col>
	</ion-row>
	<ion-segment [(ngModel)]="pet" *ngIf="follows == true">
		<ion-segment-button value="kittens">
		  <span class="btn-up"> {{"Followers" | translate }} </span>
		</ion-segment-button>
		<ion-segment-button value="puppies">
		   <span class="btn-up"> {{"Following" | translate }} </span>
		</ion-segment-button>
	</ion-segment>
	

	<ion-list *ngIf="tipo ==1">
		  <ion-item  class="perfil-us" *ngFor="let us of users; let i = $index" >
				<ion-avatar item-start (click)="goToDoctor(us, 'doctor')">
				  <img [src]="us.photo_url">
				</ion-avatar>
				<div (click)="goToDoctor(us, 'doctor')">
					<h2>{{us.name}} {{us.last_name}}</h2>
					<p >{{us.specialty?.name}}</p>
					<p > <span class="flag-icon flag-icon-{{ us.country_iso?.toLowerCase()}}" style=" opacity: 0.65;"></span>{{ us.country_iso}}</p>
					
					
					
					<p >
						<ng-container *ngFor="let s of stars">
							<ion-icon name="star" style="color:#ee9e02" *ngIf="us.rating >= s"></ion-icon>
							<ion-icon name="star-outline" style="color:#ee9e02" *ngIf="us.rating < s" ></ion-icon>
							
						</ng-container>
					</p>
				</div>				
				<ion-icon name="md-more" item-end (click)="presentActionSheet(us, 'doctor')"></ion-icon>
		  </ion-item>
		  <div class="perfil-us" *ngIf="meta && meta.current_page < meta.last_page" style="text-align: center;">

				<ion-spinner name="crescent" *ngIf="loadDoctors"></ion-spinner>
		  </div>
		  <div class="error-found" >
				<h3 *ngIf="!loadDoctors">
					{{"No Doctors" | translate }}
					
				</h3>
				

				<ion-row class="row-principal" align-items-center justify-content-center *ngIf="loadDoctors">
			
						<ion-col col-4 align-self-center style="text-align:center">
							
								<a >
									<mat-spinner [color]="'primary'"></mat-spinner>
								</a> 
								
								
						</ion-col>
						
					</ion-row>
				
		  </div>
		 
	</ion-list>
	
	<ng-container *ngIf="tipo ==2">
		<ng-container *ngFor="let pl of places" >
			<ion-card (click)="goToDoctor(pl, 'place')">
				<img [src]="'/assets/imgs/search-p/Recurso 1.png'"/>
				<div class="card-title"></div>
				<div class="card-subtitle"></div>
			</ion-card>
			<div class="info-end" (click)="goToDoctor(pl, 'place')">{{pl.name}} <span> <ion-icon name="heart-outline"></ion-icon></span></div>
		</ng-container>
		
		 <div class="perfil-us" *ngIf="metaP && metaP.current_page < metaP.last_page" style="text-align: center;" >
				
				<ion-spinner name="crescent" *ngIf="loadDoctors"></ion-spinner>
		  </div>
		  <div class="error-found" >
				<h3 *ngIf="!loadDoctors">
					{{"No Places" | translate }}
					
				</h3>
				<ion-row class="row-principal" align-items-center justify-content-center *ngIf="loadDoctors">
			
						<ion-col col-4 align-self-center style="text-align:center">
							
								<a >
									<mat-spinner [color]="'primary'"></mat-spinner>
								</a> 
								
								
						</ion-col>
						
					</ion-row>
				
				
		  </div>
	</ng-container>
	
	
	<ion-list no-lines *ngIf="tipo ==3">
		<ion-item  *ngFor="let sr of seach" (click)="goToDoctor(sr, sr.type=='user'?'doctor':'')">
			<h2 style="color:black; font-weight: 700;">{{sr.name}} {{sr.last_name}}</h2>
			<p *ngIf="sr.type=='user' || sr.specialty" style="color:blue; font-weight: 600;">{{sr.specialty?.name}}</p>
			<p *ngIf="sr.type=='case'" style="color:blue; font-weight: 600;">{{"Medical Case" | translate }}</p>
			<p *ngIf="sr.type=='case'" style="color:blue; font-weight: 600;">{{sr.description}}</p>
			<p *ngIf="sr.type=='place' || sr.address" style="color:blue; font-weight: 600;">{{sr.address}}</p>
		
		</ion-item>
	</ion-list>
	
	
	<ion-list no-lines *ngIf="tipo ==4">
		<ion-item  *ngFor="let sr of seach">
			<h2 style="color:black; font-weight: 700;">{{sr.display_name}}</h2>
			<p *ngIf="sr.type=='user' || sr.specialty" style="color:blue; font-weight: 600;">{{sr.specialty?.name}}</p>
			<p *ngIf="sr.type=='case'" style="color:blue; font-weight: 600;">{{"Medical Case" | translate }}</p>
			<p *ngIf="sr.type=='case'" style="color:blue; font-weight: 600;">{{sr.description}}</p>
			<p *ngIf="sr.type=='place' || sr.address" style="color:blue; font-weight: 600;">{{sr.address}}</p>
		
		</ion-item>
	</ion-list>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
