page-lists {
	ion-searchbar{
		margin-left:15px;
		input{
			border: 1px solid !important;
			border-radius: 15px!important;
			border-color: #777!important;
		}
	}
	ion-range{
		margin:0px;
		padding-top: 0px !important;
		
		ion-label:last-child{
			color: color($colors, green-brand, #044);
			border: 1px solid #f7eded;
			border-radius: 15px;
			//border-style: outset;
			-webkit-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
			-moz-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
			box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
			padding: 3px 7px;
		
		}
	}
	
	.scroll-content{
		padding-top: 3px !important;
		
	}
	
	.item-inner {
		border-bottom: none !important;
	}
	
	ion-item{
		h2{
			color:#2680EB;
		}
		p{
			font-size: 1.2rem !important;
			color: #B9B9B9 !important;
			
		}
		
		ion-avatar img{
			width: 60px !important;
            height: 60px !important;
		}
		
	}
	
	
	 ion-card {
		border-radius:15px !important;
		position: relative;
		text-align: center;
		margin-bottom: 2px;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
		color: #fff;
	}
	
	.info-end{
		text-align:center;
		color:#2680EB;
		font-size: 1.2rem;
		
		span{
			float: right;
			margin-right: 23px;
		}
	}
	
	
	.error-found{
		width:100%;
		h3{
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			color: gray;
			margin-top: 25px !important;
			text-align: center;
		}

	}
	
	.perfil-us+ .error-found{
		display:none;
	}
	
	
	.cat{
		padding: 10px;
		border-radius: 50%;
		margin-right:10px;
		background-size:70%; 
		  
		
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

		text-align:center;
			
		.cat-ico{
			font-size: 2.5rem;
			position: relative;
			top: 5px;
			color:color($colors, green-brand, #044);
		}
	}
	
	.cat ion-spinner * {
	  width: 16px !important;
	  height: 16px!important;
	  stroke: color($colors, green-brand, #044);
	 
	}
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.btn-up{
		padding: 3px 13px;
		border: 1px solid #000;
		border-radius: 10px;
		color: #000;
	}
	
	.segment-button{
	
		border:none !important;
	}
}
