<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
		<h1 [ngStyle]="A" style="    position: absolute;  left: 50%; display:none">A</h1>
		<h1 [ngStyle]="B" style="    position: absolute;top:  calc(236.896px + 20px);;   left: 50%;">B</h1>
		<h1 [ngStyle]="C" style="    position: absolute;top: calc(174px*0.97);   left: 50%;">C</h1>
		<h1 [ngStyle]="D"style="    position: absolute;top: calc(67px*1.3);   left: 50%;">D</h1>
		<canvas height="420px" style="background-color: #FFF !important; border-radius: 4%; width: 100%;" #barCanvasImc></canvas>
</ion-content>
