page-profile {
	.portada{
		height:60%;
		width:100%;
		    background-size: inherit;
			overflow: hidden;
			background-repeat: no-repeat;
    background-size: cover;
	    background-position: center;
		
		@media (max-height: 640px) {
			height:60%;
		}
	}
	
	.back-color{
		height:100%;
		width:100%;
		  // background-color: rgba(0, 0, 0, .1) ;
			overflow: hidden;
	}
	
	.scroll-content{
		margin:0px !important;
		padding:0px !important;
	}
		.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:0px;
		font-size: 40px;
	}
	
	.toolbar-title-md {
		text-align: right;
	}	
	
	.chip {
		height: 75%;
		
	}
	
	.chip > ion-icon {
		background-color: inherit;
		font-size:2rem;
	}
	
	.chip-md > ion-label, .chip-ios > ion-label{
		margin: 0px;
		margin-top: 0px;
		margin-bottom: 4px;
		font-size: 1rem;
		white-space: normal !important;
		line-height: 12px !important;
		
		@media (max-width: 340px) {
			min-height: 2.5rem;
		}
			
	}
	
	.info-user{
		position: relative;
		top: 54%;
		width:100%;
		padding-right: 20px;
		margin-left: 20px;
		
		
		p.flag{
			text-align:center;
			font-size: 2.0rem;
			color:#000;
			font-weight:100;
		}
		
		p{
			font-size: 1.2rem;
			color: white;
			padding:0px 20px;
			overflow-y: scroll;
			font-weight: 100;
			
		}
		
		span{
			font-size: 1.8rem;
			color: white;
			padding:3px 20px;
		}
	}
	
	.name-a{
		    margin: 5px;
		font-size:1.6rem;
		font-weight:700;
		
		span{
			color: color($colors, green-brand, #044);
			border-left: 1px solid;
			padding-left: 6px;

		}
	}
	.name-e{
		margin: 5px;
		font-size:1.2rem;
		font-weight:100;
		color:#000;
		    text-transform: uppercase;
	}
	ion-chip{
		font-size:1.2rem !important;
		width: 94%;
		display: inline-block;
		border-radius: 8px !important;
		
		
	}
	ion-chip.unselected{
		border: 1px solid  color($colors, green-brand, #044);
		color: color($colors, green-brand, #044);
		background: #fff;
		
		ion-icon {
			color:  color($colors, green-brand, #044);
		
		}
		
	}
	ion-chip.selected{
		border: 1px solid  #84CA36;
		color:  #fff;
		background: #84CA36;
		
	}
	.name-k{
		    margin: 5px;
		span{
			display: inline-block;
			min-width: 138px;
			padding: 5px;
			border-radius: 8px;
			border: 1px solid #eee;
			color: color($colors, green-brand, #044);
			font-weight:700;
				-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

		}
	}
	
	.text-rell{
		color:rgba(0,0,0,0);
	}
	
	.panel{
		height: 100%;
    border-radius: 34px 34px 37px 39px;
    background-color: white;
    position: relative;
    width: 100%;
    bottom: 30px;
	padding: 15px 30px;

	}
	
	h1, h2{
		font-size: 2rem;
		color: rgb(97, 114, 125) !important;
		font-weight: 400;
	}
	
	.panel .texto{
		font-size: 1.4rem;
		color: rgb(97, 114, 125) !important;
		font-weight: 100;
		line-height: 2rem;
	}

}
