
<ion-header no-border >

  <ion-navbar [hideBackButton] = "verInfo"  >
		
		<ion-toolbar >
			<button ion-button icon-only outline [hidden] = "!verInfo"  style="color: #61727d; border: none; position: absolute;z-index:100" (click)="goToMore(false)">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="portada"  [style.backgroundImage]="'url(' + doctor?.photo_url+')'"   (click)="goToMore(true)" >
		<div [ngClass]="{'back-color': !verInfo}"   >
			<div class="info-user" (click)="goToMore(true)" [hidden]="verInfo">
				
			</div>
		</div>
	</div>
	<div class="panel" [hidden]="verInfo">
		<div style=" height: 15%;">
			<h1> {{doctor?.full_name}} <span  style="float:right; "> <ion-icon    style="color:#8BC34A" name="heart" *ngIf="serviceDoctor.favoriteMapDoctors.has(doctor?.id)" (click)="favorite(false)"></ion-icon> <ion-icon  style="color:rgb(97, 114, 125)" name="heart"  *ngIf="!serviceDoctor.favoriteMapDoctors.has(doctor?.id)" (click)="favorite(true)"></ion-icon> </span> </h1>
			<p style="margin-top: -5px">
				<ng-container *ngFor="let s of stars">
					<ion-icon name="star" style="color:#8BC34A; font-size: 2rem;" *ngIf="doctor?.rating < s"></ion-icon>
					<ion-icon name="star-outline" style="color:#444; font-size: 2rem;" *ngIf="doctor?.rating >=s" ></ion-icon>
					
				</ng-container>
			</p>
			<p  class="name-e" > <span class="flag-icon flag-icon-{{ doctor?.country_iso?.toLowerCase()}}" style="font-size:1.8rem; color:#000;"></span> {{ doctor?.country_name}} - {{doctor?.specialty?.name}}  </p>
		</div>
			
		<ion-grid style="padding: 0px; margin-top: 0px; height: 15%;">
				 <ion-row class="row-principal" align-items-center >
					<ion-col col-4 style="text-align:center; padding: 0px;">
						<ion-chip  [ngClass]="{'selected': doctor && doctor.tipos[1], 'unselected': !doctor || !doctor.tipos[1]}"  (click)=" reviewUser(1)">
							 <ion-icon name="videocam"></ion-icon>
							<ion-label>{{"ONLINE" | translate}}   </ion-label>
						</ion-chip>
					 </ion-col>
					 <ion-col col-4 style="text-align:center; padding: 0px;">
						<ion-chip [ngClass]="{'selected': doctor && doctor.tipos[2], 'unselected': !doctor || !doctor.tipos[1]}" (click)=" reviewUser(2)">
							<ion-icon name="medkit"></ion-icon>
							<ion-label>{{"CONSULTING ROOM" | translate }}<span class='text-rell'></span></ion-label>
						</ion-chip>
					 </ion-col>
					 <ion-col col-4 style="text-align:center;  padding: 0px;">
						<ion-chip [ngClass]="{'selected': doctor && doctor.tipos[3], 'unselected': !doctor || !doctor.tipos[1]}" (click)=" reviewUser(3)">
							<ion-icon name="globe"></ion-icon>
							<ion-label>{{"HOUSE VISIT" | translate  }} </ion-label>
						</ion-chip>
					 </ion-col>
				  </ion-row>
		 
			</ion-grid>
	</div>
	
	<div class="panel" [hidden]="!verInfo">
			<h1> {{doctor?.full_name}} <span  style="float:right; "> <ion-icon    style="color:#8BC34A" name="heart" *ngIf="serviceDoctor.favoriteMapDoctors.has(doctor?.id)" (click)="favorite(false)"></ion-icon> <ion-icon  style="color:rgb(97, 114, 125)" name="heart"  *ngIf="!serviceDoctor.favoriteMapDoctors.has(doctor?.id)" (click)="favorite(true)"></ion-icon> </span> </h1>
			<p style="margin-top: -5px">
				<ng-container *ngFor="let s of stars">
					<ion-icon name="star" style="color:#8BC34A; font-size: 2rem;" *ngIf="doctor?.rating < s"></ion-icon>
					<ion-icon name="star-outline" style="color:#444; font-size: 2rem;" *ngIf="doctor?.rating >=s" ></ion-icon>
					
				</ng-container>
			</p>

		<div class='texto'>
			{{doctor?.about_me}}
		</div>
		<h2>{{"Mi Experiencia" | translate }} </h2>
		<div class='texto'>
			{{doctor?.experience}}
		</div>
	</div>
	
	
	
</ion-content>


<ion-footer  style="z-index:101; background: #fff" >
	
	<w-footer >
	</w-footer>
</ion-footer>
