page-appoiments {
	ion-row, ion-col{
		//border: 1px solid #eee;
		
	}
	
	.row-principal{
		height:100%;
		
		.box{
			margin-top:-7rem;
			margin-bottom:-1rem;
			height: 145px;
			border: 1px solid #f7eded;
			border-radius: 15px;
			//border-style: outset;
			-webkit-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
			-moz-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
			box-shadow:-1px 2px 2px 1pxrgba(227,220,227,0.45);
			text-align:center;
		}
		
		.box-A{
			margin-right:0.5rem;
			
		}
		
		.box-B{
			margin-left:0.5rem;
		}
		
	}
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
}
