<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	<ion-toolbar >
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-row class="row-principal" align-items-center>
		<ion-col col-1>
		 
		</ion-col>
		<ion-col col-5>
			<div class="box box-A" (click)="doctors()">
				<div style="margin-top: 40px; font-size: 6rem; color:#84ca36">
					<!--<img src="/assets/imgs/search-p/dRecurso_1.png" style="margin-top: 40px;">-->

					<span class="wortixgastroenterologist" > </span>
				</div> <br>
				<a style="margin-top: 1px;">{{"Doctors" | translate }}</a>
			</div>
		</ion-col>
		<ion-col col-5>
			<div class="box box-B" (click)="clinics()">
				<div style="margin-top: 40px; font-size: 6rem; color:#84ca36">
							<!--<img src="/assets/imgs/search-p/dRecurso_1.png" style="margin-top: 40px;">-->
		
							<span class="wortixlaboratory" > </span>
				</div> <br>
				<a style="margin-top: 1px;">{{"Clinics" | translate }}</a>
			</div>
		</ion-col>
		<ion-col col-1>
		 
		</ion-col>
	</ion-row>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>