
<ion-header no-border >

  <ion-navbar >
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
	<ion-toolbar >
		<ion-title></ion-title>
		<ion-buttons  style="margin-right: 20px;">
			<ion-searchbar (ionInput)="buscar($event)" [(ngModel)]="keyword"></ion-searchbar>
		</ion-buttons>

	</ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-content no-padding #contentIssues class="ion-scroll-c category"  (ionScroll)="endI($event)" style="height:100%;">
		<div class="inline" style="width:100%; ">
			<ion-row class="row-principal">
				<ng-container  *ngFor="let is of issues">
					
					<ion-col col-6>
						<issues-card  [issue]="is">
						</issues-card>
						<ion-card class="issues" (click)="goToMore(is)" *ngIf="false">
						  <ion-card-header>
							{{is.title}}
						  </ion-card-header>
						  <ion-card-content>
							<p class='description description-f'>{{is.description}}</p>
							
							<hr>
							
							<p class="mini-text">{{"Speciality" | translate }}: {{is.specialty?.name}}</p>
							<p class="mini-text">{{"Date" | translate }}: {{is.scheduled_date}}</p>
						
							<p class="mini-text">
								<ng-container *ngFor="let s of stars">
									<ion-icon name="star" style="color:#ee9e02" *ngIf="is.rating >= s"></ion-icon>
									<ion-icon name="star-outline" style="color:#000"  ></ion-icon>
									
								</ng-container>
							</p>
							<hr>
							
							<ion-list (click)="goToDoctor(is.doctor, 'doctor')" >
							    <ion-item  class="perfil-us" >
									<ion-avatar item-start>
									  <img [src]="is.doctor?.photo_url">
									</ion-avatar>
									<h2>{{is.doctor?.photo_url}} {{is.doctor?.name}} {{is.doctor?.last_name}}</h2>
									<p>{{is.doctor?.specialty?.name}} Medicina general" | translate }}</p>
								</ion-item>
							</ion-list>
							
							<p class='description'>
								Good afternoon. We are delighted that you have contacted us. The lack of balance you refer to may be related to
							
							</p>
							<div class="footer-card">
								<a class="btn-primary" ion-button  block small >Details</a>
							</div>
						  </ion-card-content>
						  
						</ion-card>
					</ion-col>
				</ng-container>
			</ion-row>
			
			<div class="error-found" (click)="moreI()" [hidden]="!loadI">
				<ion-row class="row-principal" align-items-center justify-content-center>
			
					<ion-col col-4 align-self-center style="text-align:center">
						
							<a >
								<mat-spinner [color]="'primary'"></mat-spinner>
							</a> 
							
							
					</ion-col>
					
				</ion-row>
				
			</div>
			
		</div>
	</ion-content>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
