page-myhealthcase {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.scroll-content {
			padding: 0px !important; 
			padding-top: 0px;
		}
	
	ion-searchbar{
		margin-left:15px;
		input{
			border: 1px solid !important;
			border-radius: 15px!important;
			border-color: #777!important;
		}
	}
	
	.issues{
		border-radius: 15px;
		ion-card-header{
			color:#fff;
			background-color: #8cca19;
			font-weight:700;
			text-align: center;
			padding: 8px 10px;
			
		}
		
		ion-card-content{
			font-size: 1.4rem;
				color: #c1c1c1;
			
			
			.description{
				font-size: 1.2rem;
				color: #c1c1c1;
				font-weight:600;
				
				overflow: scroll;
				margin: 10px
			}
			
			.description-f{
				min-height: 16rem;
				max-height: 16rem;
			}
			
			.mini-text{
				font-size: 1rem;
				color: #c1c1c1;
				text-align:center;
			}
			
			.perfil-us{
				padding-left: 0px;


				ion-label{
					h2{
						font-size: 1.2rem;
					}
					
					p{
						font-size: 0.7rem;
					}
				}
			}
		}
	}
}
