page-serch-principal {
	ion-content{
		background-color: #f2f2f2 !important;
		
		.scroll-content{
		    padding: 5px 20px;
		}
	}
	.toolbar .searchbar-ios .searchbar-input, .toolbar .searchbar-md .searchbar-input {
		background: rgba(255, 255, 255, 0.08);
	}
	
	.category{
		.scroll-content {
		padding: 0px !important; 
		}
		
		
	}
	
	.cat{
			width: 60px;
			border: 2px solid #2680eb;
			height: 60px;
			border-radius: 50%;
			margin-right:10px;
			  background-size:auto; 
			  
			  background-position: center;
			  background-repeat: no-repeat; 
		}
	.inline{
		display: -webkit-inline-box;
	}
	.col{
		float:left;
	}
	
	ion-searchbar{
		margin-left:15px;
		input{
			border: 1px solid !important;
			border-radius: 15px!important;
			border-color: #777!important;
		}
	}
	ion-item{
		font-weigth: 700;
		border:none !important;
		
		h2{
			font-size: 1.4rem !important;
		}
		
	}
	ion-item:nth-child(even){
		margin-top: 18px;
		padding: 5px 15px !important;
			border-radius: 10px;
		
		border-top-right-radius: 50px !important;
		color: #2680eb;
		-webkit-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				-moz-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				
	
	}
	
	ion-item:nth-child(odd){
		margin-top: 18px;
		padding: 5px 15px !important;
		border-radius: 10px;
		border-bottom-left-radius: 50px !important;
		background-color: #8cca19;
		color: #ffffff;
		-webkit-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				-moz-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
		
		.cat{
			border: 2px solid #fff;
		}
	}
	
	.item-block .item-inner {
		border-bottom: none !important;
	}
	
	.setting{
		background-image: url(/assets/imgs/search-p/7.png);
		background-size: auto;
		background-repeat: no-repeat; 
	}	
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
}
