<ion-header no-border >
	<ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		  <ion-buttons end style="margin-right: 20px;">
				<button ion-button class="setting" (click)="goTo('SettingPage')" >
					<ion-icon name="switch" [color]="'white'" style="color:transparent"></ion-icon>
				</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-navbar>
		<ion-toolbar *ngIf="false">
			<ion-title></ion-title>
			<ion-buttons  style="margin-right: 20px;">
				<ion-searchbar (ionInput)="getItems()"  [(ngModel)]="keyword"></ion-searchbar>
			</ion-buttons>

			
		</ion-toolbar>
	
</ion-header>


<ion-content >
	<ion-scroll class="category" scrollX="true" style="height:60px" *ngIf="false">
		<div class="inline">
			<ng-container  *ngFor="let category of categories">
				<div class="cat "  [ngStyle]="{'background-image': 'url(' + category.ico_path +')'}">	
				</div>
				
			</ng-container>
			
		</div>
	</ion-scroll>
	
	<ion-list>
		<ion-item *ngFor="let option of options" (click)="option.click()">
			<ion-avatar item-end>
			  <div class="cat "  [ngStyle]="{'background-image': 'url(' + option.ico_path +')'}"  style="text-align: center; padding-top: 5px; font-size: 6rem;">	
				

				</div>
			</ion-avatar>
			<h2>{{option.name}}</h2>
			<h3 style="white-space: normal;">{{option.sub}}</h3>
			
		</ion-item>
	</ion-list>
	
	


</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>


