
<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>



<ion-content padding>
	<ion-list >
		  <ion-item  class="perfil-us" *ngFor="let chatRoom of doctorProvider.chatsRooms; let i = $index"  (click)="goToMessages(chatRoom)">
				<ion-avatar item-start >
				  <img [src]="chatRoom[role2].picture">
				</ion-avatar>
				<div >
					<h2>#{{chatRoom.cita?.id}} - {{chatRoom[role2].name}}  <span style="float:right; font-size:1.2rem; padding-top:5px"> </span></h2> 
					<p>{{chatRoom.cita?.title}}</p>
				</div>				
				
		  </ion-item>
	</ion-list>
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
