<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border style="left:-40px">
    <ion-navbar style="padding-left:40px">
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	<ion-toolbar style="padding-left: 22px;padding-right: 22px; left: 40px;" >
		<ion-title></ion-title>
		<ion-buttons  style="margin-right: 20px;">
			<ion-searchbar (ionInput)="buscar($event)" [(ngModel)]="keyword" [disabled]="searching"  (ionBlur)="s()" (ionFocus)="searchF=true"></ion-searchbar>
			
		</ion-buttons>
		<ion-list class="search-list" [hidden]="!searchF">
			<ion-item *ngFor="let place of serviceLocation.resultadosQ" (click)="selectPlace(place)"> <ng-container *ngFor="let line of place.extra.lines; let ultimo = last; ">{{line}}{{ultimo?'':','}} </ng-container></ion-item>
		</ion-list>
		<ion-range [(ngModel)]="serviceLocation.km" color="green-brand" pin="false" (ionChange)='buscar(null, true)' [disabled]="searching" [hidden]="true">
				<ion-label range-left> </ion-label>
				<ion-label range-right style="">{{serviceLocation.km}} mi <ion-icon name="pin" style="    font-size: 1.4rem;"></ion-icon></ion-label>
			</ion-range>
	</ion-toolbar>
	
</ion-header>




<ion-content padding>
	<div #map id="map_canvas" style="    height: 100%; width: 100%; background:aliceblue"></div>
	<div #map2 id="map_canvas2" style="    height: 100%; width: 100%; background:aliceblue"></div>
	
	<div class="panel-down"  (click)="open()">
		<hr class="gris" [hidden]="util.loadData  > 0 || type !='doctor'" >
		<hr [hidden]="util.loadData  > 0 || type =='doctor'" >
		<mat-progress-bar [mode]="'indeterminate'" [color]="'accent'" [hidden]='util.loadData  == 0'></mat-progress-bar>
		<div class="segmento" style='width: 100%'>
		<div padding  [hidden]="searchF">
		  <ion-segment [(ngModel)]="type" >
			<ion-segment-button value="doctor">
			   <ion-select [(ngModel)]="filtro" (ionChange)='tipoChange()' >
				  <ion-option value="doctors">Doctors</ion-option>
				  <ion-option value="professionals">Professionals</ion-option>
				  <ion-option value="testing-centers">Testing Center</ion-option>
				  <ion-option value="clinics">Clinics</ion-option>
				</ion-select>
			</ion-segment-button>
			<ion-segment-button value="doctor">
				<ion-select  [(ngModel)]="categorySel" (ionChange)='tipoChange()' >
				  <ion-option value="null"> Sin filtro</ion-option>
				  <ion-option *ngFor="let category of categories"value="{{category.id}}"> {{category.name}}</ion-option>
				
				</ion-select>
			</ion-segment-button>
			
		  </ion-segment>
		</div>

		<div (click)="open()">
		  <div [hidden]="type !='doctor' || searchF">
		  
			<ion-content #contentDoctor class="ion-scroll-c"   style="overflow: scroll; max-height: 200px; height: 700px;">
				<ion-list style="overflow: visible; max-height: 200px;">
					  <ion-item  class="perfil-us" *ngFor="let us of users; let i = $index"(click)="goToProfile(us, 'doctor')" [ngClass]="{'doctors-act':us.bandera}" id="item-{{us.id}}">
							<ion-avatar item-start>
							  <img [src]="us.photo_url">
							</ion-avatar>
							<h2>{{us.name}} {{us.last_name}}</h2>
							<p>{{us.specialty?.name}}</p>
							
							
							
							<p>
								<ng-container *ngFor="let s of stars">
									<ion-icon name="star" style="color:#ee9e02" *ngIf="us.rating >= s"></ion-icon>
									<ion-icon name="star-outline" style="color:#ee9e02" *ngIf="us.rating < s" ></ion-icon>
									
								</ng-container>
							</p>
							<ion-icon name="md-more" item-end (click)="presentActionSheet(us, 'doctor')" style="color:#fff"></ion-icon>
					  </ion-item>
					
					  <div class="error-found" >
							<h3 *ngIf="!users || users.length == 0">
								{{"No Doctors" | translate }}
								
							</h3>
							<h3 *ngIf="loadDoctors">
								{{"Load Doctors" | translate }}
								<ion-spinner name="dots"></ion-spinner>
							</h3>
							
					  </div>
					 
				</ion-list>
			</ion-content>
			    
		  </div>

		 
		</div>
	</div>
	<div  style="position:absolute; bottom:10px; width: 100%;">
		<hr [hidden]="util.loadData  > 0 || type !='doctor'" >
	</div>
		
	</div>

</ion-content>
