w-footer {
	mat-progress-bar{
		position: absolute !important; 
		top:0;
		.mat-progress-bar-primary{
				background-color: #8cca19 !important;
		}
		
		.mat-progress-bar-secondary{
				background-color: #8cca19 !important;
		}
		
		.mat-progress-bar-buffer{
			background-color: rgba(140, 202, 25, 0.45) !important;
			
		}
		svg{
			display:none;
		}
	}
}
