<!-- Generated template for the WFooterComponent component -->

<ion-toolbar>

	<mat-progress-bar [mode]="'indeterminate'" [color]="'accent'" [hidden]='util.loadData  == 0'></mat-progress-bar>
       <ion-buttons  style="    text-align: center; "     >
			<button ion-button  style="margin-left: 14px; "  (click)="goToHome()">
				<ion-icon name="ios-home-outline" [color]="'#efefef'" style="font-size:3.7rem"></ion-icon>
			</button>
			<button ion-button  style="margin-left: 14px; "  (click)="goToMensajes()"  >
				<ion-icon name="ios-mail-outline" [color]="'#efefef'"  style="font-size:3.7rem"></ion-icon>
			</button>
			<button ion-button  style="margin-left: 14px; " (click)="reviewUser()"  >
				<ion-icon name="ios-person-outline" [color]="'#efefef'"  style="font-size:3.7rem"></ion-icon>
			</button>
		</ion-buttons>
		
		
  </ion-toolbar>
