<ion-header no-border  style="z-index:101">
    <ion-toolbar style="margin-top:-17px; height: 79px" >
      <ion-title class=""> <span class="span-logo" > <span class="logo" >Wortix </span></span></ion-title>
    </ion-toolbar>
	<ion-toolbar >
		<ion-title></ion-title>
		<ion-buttons  style="margin-right: 20px;">
			<button *ngIf="false" ion-button  style="margin-left: 14px; border: white 1px solid; border-radius: 100%;   padding: 0px 7px 0px 9px;">
				<ion-icon name="play" [color]="'white'"></ion-icon>
			</button>
			
			
			
		</ion-buttons>

		<ion-buttons end style="margin-right: 20px;" [hidden]="!settingBotons">
			<button ion-button class="setting" (click)="goTo('SettingPage')" >
				<ion-icon name="switch" [color]="'white'" style="color:transparent"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>



<ion-content padding style="background: #0000;     z-index: 100;" (click)="showButtons()">
 
	<ion-slides effect="coverflow " direction="vertical" centeredSlides="true"  (ionSlideDidChange)="next()"  dir="ltl">
	
		<ion-slide style="z-index:10; height: 100%;" *ngIf="serviceAuth.videosStories.length == 0" >
			<ion-row class="row-principal" align-items-center >
				<ion-col style=" padding:0px">
					<div class="y-yJ0  OFkrO "   [ngStyle]="{'background-image': 'url(/assets/imgs/f-green/'+picture+'.jpg)'}">
					
						
					</div>
				</ion-col>
			</ion-row>
			
		</ion-slide>
		
		
		<ion-slide style="z-index:10; height: 100%;" *ngFor="let video of serviceAuth.videosStories; let i = index">
			<ion-row class="row-principal" align-items-center >
				<ion-col style=" padding:0px">
					<video class="y-yJ0  OFkrO "   preload="auto" playsinline=""  loop id="{{i}}" poster="/assets/imgs/f-green/{{picture}}.jpg"  >
					
						<source src="{{video.url}}" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"  >
						<ng-container  *ngFor="let lang of video.srt">
							
							<track  src="{{lang.src}}" label="{{lang.label}}" kind="subtitles" srclang="{{lang.srclang}}" default="{{myLang==lang.srclang}}"  *ngIf="myLang==lang.srclang">
						</ng-container>
					</video>
				</ion-col>
			</ion-row>
			
		</ion-slide>
		
		
		
	</ion-slides>
  
    <ion-fab top   right [hidden]="!settingBotons || serviceAuth.isLogin" >
		<button ion-fab mini class="fab-medical" [color]="'white'" (click)="reviewUserDoctor()"></button>
	</ion-fab>
   <ion-fab bottom center [hidden]="!settingBotons  ||  serviceAuth.userL?.user.role == 'doctor'" >
		<button ion-fab mini  class="fab-search" [color]="'white'" (click)=" goTo('SerchPrincipalPage')"><ion-icon name="search" [color]="'green-brand'"></ion-icon></button>
	</ion-fab>

  <ion-fab right bottom>
    <button ion-fab mini color="light"  class="fab-tree-points" style="z-index:15"    [hidden]="true"></button>
    <ion-fab-list side="left"  *ngIf="false">
		<button ion-fab mini class="fab-videocam" ><ion-icon name="videocam-outline" [color]="'white'"></ion-icon></button>
		<button ion-fab mini class="fab-chatbubbles"  ></button>
		<button ion-fab mini class="fab-call"  ><ion-icon name="call-outline" [color]="'white'"></ion-icon></button>
    </ion-fab-list>
		<button ion-fab mini class=" button-l fab-social" [hidden]="!(actualVideoFire  && actualVideoFire.user)" [ngStyle]="{'background-image': 'url('+actualVideoFire?.user?.photo_url+')'}" (click)=" goToDoctor(actualVideoFire?.user?.id)"><span class="fab-plus-b"></span></button>
		<button ion-fab mini class="button-l fab-heart" [hidden]="true"></button>
		<button ion-fab mini  (click)=" mute_v()" class="button-l" [hidden]="!mute"> <ion-icon name="volume-mute"  style="color:#fff"></ion-icon></button>
		<button ion-fab mini (click)=" mute_v()"  class="button-l" [hidden]="mute"> <ion-icon name="volume-up"  style="color:#fff"></ion-icon></button>
		<span style="font-size: 1rem; width: 100%; text-align: center;display: inline-block;color: #fff;" [hidden]="true"> 2.1 k {{serviceAuth.isLogin}}</span>
		
	   
		<button ion-fab mini class="button-l fab-chatbubbles" [hidden]="false"  (click)="callPage()" > </button>
		  <span   style="font-size: 1rem; width: 100%; text-align: center;display: inline-block;color: #fff;" [hidden]="true"> 350</span>
		
		
		
	
	
	<ion-fab-list side="top" *ngIf="false">
		<span   style="font-size: 1rem"> 350</span>
		<button ion-fab mini class="fab-chatbubbles"> </button>
		<span style="font-size: 1rem"> 2.1 k</span>
		<button ion-fab mini class="fab-heart"></button>
		
		<button ion-fab mini class="fab-social" (click)="reviewUser()"><span class="fab-plus-b"></span></button>
		
    </ion-fab-list>
	
  </ion-fab>
</ion-content>

