page-home {
	video::cue {
		color: white;
		font: 1em sans-serif;
		background: #0003;
		margin: 35px 10px;
	}
	.fab ion-icon {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		font-size: 2rem;
	}
	
	/* boton buscar*/
	ion-fab[bottom][center] {
		margin-bottom: 30px;
		margin-right: -13px;
	}
	ion-fab[bottom][right] {
		margin-bottom: 30px;
		margin-right: -13px;
	}
	
	ion-fab-list[side="top"]  button{
		background-color: rgba(146, 146, 146, 0.4756);
		margin-bottom: -5px;
		
	}
	
	ion-header .toolbar .toolbar-title {
		font-size: 28px;
	}
	
	 ion-header .toolbar .toolbar-title {
	   margin-top: 10px;
		overflow: visible;

	}
	toolbar-content{
		
		margin-top: -17px;
	}
	
	ion-fab-list[side="left"] {
		background: #0000ff47;
		margin: 8px 10px;
		width: 197px;
		/* height: 27px !important; */
		min-height: 38px;
		padding: 0px;
		border-radius: 30px 30px 30px 30px;
		background-color: rgba(146, 146, 146, 0.4756);

	
		button {
			background-color: rgba(111, 111, 111, 0.43);
			margin-right: 10px;
			width: 26px;
			height: 26px;
		}
		
		button:first-child{
			margin-right: 47px;
		}
	}
	
	.button-l {
			background-color: rgba(111, 111, 111, 0.43);
			margin-right: 10px;
			width: 26px;
			height: 26px;
		}
		
		.button-l:first-child{
			margin-right: 47px;
		}
	
	ion-fab-list{
		color:#fff;
	}
	
	ion-fab[right][top] {
		right: 10px;
		top: 23%;
		right: calc(10px + constant(safe-area-inset-right));
		right: calc(-30px + env(safe-area-inset-right));
	}
	
	
	.fab-medical{
		z-index:15;
		background-image:url('/assets/imgs/home/medical.png'); 
		background-size: cover; 
	}
	
	.fab-chatbubbles{
		background-image:url('/assets/imgs/home/Grupo 2127.png'); 
		background-size: cover; 
	}
	.fab-heart{
		background-image:url('/assets/imgs/home/Grupo 2219.png'); 
		background-size: cover; 
	}
	.fab-social{
		background-image:url('/assets/imgs/home/Enmascarar grupo 22.png'); 
		background-size: cover; 
	}
	
	.fab-tree-points{
		background-image:url('/assets/imgs/home/Grupo 2128.png'); 
		background-size: cover; 
	}

	
	.fab-plus-b{
		background-image:url('/assets/imgs/home/Grupo 2124.png'); 
		background-size: cover; 
		height:40px;
		width:40px;
		position:absolute;
		bottom:-15px;
		left:10px;
	}
	
	video, div.OFkrO{
		width:101%;

	}

	div.OFkrO{
		height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
		
	}
	

	ion-slides{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
	.scroll-content{
		margin:0px !important;
	}
	
	ion-slide{
		width:101% !important;
		//height:auto !important;
		overflow: hidden;
	}
	
	

	ion-header .toolbar .toolbar-title {
		color: transparent;
		
	}
	

	.logo{
		margin-right:0px;
		-webkit-filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .3));
        filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .3));
	}
	
	.span-logo{
		background-color: rgba(147, 208, 80, 0.81);
		padding: 15px;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		    background-size: 80px;
	}
}
