page-chat-user {
	ion-header{
		background: #8cca19 !important;
		color: #fff;
		
	}
	
	img{
		max-width: 100%;
		border: 0;
		border-radius: 50px;
	}
	
	ion-icon{
		position: absolute;
		bottom: 8px;
		right: 16px;
		background: #8cca19;
		padding: 10px;
		border-radius: 50%;
		color: #fff;
	}
	
	ion-input{
		margin-left:10px;
		width: 80%;
		background-color: #eee;
		margin-bottom: 4px;
		margin-top: 4px;
		border-bottom-left-radius: 20px;
		
		border-bottom-right-radius: 22px;
		border-top-left-radius: 20px;
	}
	
	.msj-data{
		padding: 15px;
		margin: 10px  30% 15px 5px;
		
		border-top-right-radius: 20px;
		border-bottom-right-radius: 22px;
		border-bottom-left-radius: 20px;
		-webkit-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
		-moz-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
		box-shadow:-1px 2px 2px 1pxrgba(227,220,227,0.45);
	}
	
	.msj-data-me{
		padding: 15px;
		background: #E1F1C4;
		margin: 10px  15px 15px 30% ;
		border-top-right-radius: 0px;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 22px;
		border-bottom-left-radius: 20px;
		
	}
}
