<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	<ion-toolbar >
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<img [src]="room[role2]?.picture">
				</ion-col>
				<ion-col col-10 style="    padding-top: 17px;">
					{{room[role2]?.name}} 
					
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ng-container *ngFor="let msj of  doctorsProvider.chatsRoomsMessages[room.key]">
		<div class="msj-data " [ngClass]="{'msj-data-me': msj.userUID == this.auth.authAct.uid}">
			{{msj.value}}
		</div>
	</ng-container>
</ion-content>

<ion-footer  style="z-index:101; background: #fff" no-border >
	<ion-input placeholder="Type your messages" clearInput style="width:80" [(ngModel)]="texto"></ion-input> <ion-icon name="send" (click)="sendMSJ()"></ion-icon>
</ion-footer>