<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<a class="label-l" (click)="see_all()">See All > </a>
	<ion-content class="category" #contentCategories class="ion-scroll-c"  style="height:120px;    padding-left: 10px; margin-left: -16px;     margin-top: 20px;" >
		<div class="inline">
			<ng-container  *ngFor="let category of categories">
				<div class="cat"  id="cat{{category.id}}" [ngClass]="{'select':  category.id == providerSpacialite.specialty?.id}"  (click)="selectSpecialitie(category)">	
					<span class=" cat-ico {{category.ico}}" ></span>
					<p   [ngClass]="{'select-p':  category.id == providerSpacialite.specialty?.id}" style="font-size: 10px !important;  margin-top: 38px;">{{category.name}}</p>
					
				</div>
				
			</ng-container>
			
		</div>
	</ion-content>

	<span class="label-t">Doctors </span>
	<ion-content #contentDoctor class="ion-scroll-c"  (ionScroll)="end($event)" style="height:235px;    padding-left: 10px; margin-left: -16px;">
		<!--ion-scroll class="category" scrollX="true" style="height:100px;    padding-left: 10px; margin-left: -16px;" -->
			<div class="inline" style="width:100%; ">
				<ng-container  *ngFor="let doctor of doctors">
					<div class="perfil-us" style=" width: 100px;" (click)="goToProfile(doctor, 'doctor')">
						<img class="thumbnail"  [src]="doctor.photo_url">	
						<h2>{{doctor.name}} {{doctor.last_name}}</h2>
						<p>{{doctor.specialty?.name}}</p>
						<p> <span class="flag-icon flag-icon-{{ doctor.country_iso.toLowerCase()}}"></span>{{ doctor.country_iso}}</p>
						<p>
							<ng-container *ngFor="let s of stars">
								<ion-icon name="star" style="color:#ee9e02" *ngIf="doctor.rating >= s"></ion-icon>
								<ion-icon name="star-outline" style="color:#ee9e02" *ngIf="doctor.rating < s" ></ion-icon>
								
							</ng-container>
						</p>
					</div>
				</ng-container>
				<div class="perfil-us" *ngIf="meta && meta.current_page < meta.last_page">
					<div class="cat" style="    margin-top: 12px;" (click)="moreDoctors()" >	
						<ion-icon class=" cat-ico" name="add"  *ngIf="!loadDoctors"></ion-icon>
						<ion-spinner name="crescent" *ngIf="loadDoctors"></ion-spinner>
					</div>
				</div>
				<div class="error-found">
					<h3 *ngIf="!loadDoctors">
						No Doctors
						
					</h3>
					<h3 *ngIf="loadDoctors">
						Load Doctors
						<ion-spinner name="dots"></ion-spinner>
					</h3>
					
				</div>
				
			</div>
		<!--ion-scroll-->
	</ion-content>
	<span class="label-t">Places </span>
	<ion-content #contentPlaces class="ion-scroll-c category"  (ionScroll)="endC($event)" style="height:150px;    padding-left: 10px; margin-left: -16px;">
			<div class="inline" style="width:100%; ">
				<ng-container  *ngFor="let place of places">
					<div class="perfil-us"  style=" width: 160px;">
						<img class="thumbnail-clin"  [src]="'/assets/imgs/search-p/Recurso 1.png'">	
						<h2>{{place.name}}</h2>
					</div>
				</ng-container>
				<div class="perfil-us" *ngIf="metaC && metaC.current_page < metaC.last_page ">
					<div class="cat" style="    margin-top: 10px;" (click)="moreC()" >	
						<!--<ion-icon class=" cat-ico" name="add"  *ngIf="!loadC"></ion-icon>-->
						<ion-spinner name="crescent" *ngIf="loadC"></ion-spinner>
					</div>
				</div>
				<div class="error-found">
					<h3 *ngIf="!loadC">
						No places
						
					</h3>
					<h3 *ngIf="loadC">
						Load Places
						<ion-spinner name="dots"></ion-spinner>
					</h3>
					
				</div>
				
			</div>
	</ion-content>

	<span class="label-t">Issues </span>
	<ion-content #contentIssues class="ion-scroll-c category"  (ionScroll)="endI($event)" style="  padding-left: 10px; margin-left: -16px;">
		<div class="inline" style="width:100%;     display: flex; ">
			<ng-container  *ngFor="let is of issues">
				<issues-card  [issue]="is">
				</issues-card>
				
				
			</ng-container>
			<div class="perfil-us" *ngIf="metaI && metaI.current_page < metaI.last_page">
				<div class="cat" style="    margin-top: 73px;" (click)="moreI()" >	
					<ion-icon class=" cat-ico" name="add"  *ngIf="!loadI"></ion-icon>
					<ion-spinner name="crescent" *ngIf="loadI"></ion-spinner>
				</div>
			</div>
			<div class="error-found">
				<h3 *ngIf="!loadI">
					No Issues
					
				</h3>
				<h3 *ngIf="loadI">
					Load Issues
					<ion-spinner name="dots"></ion-spinner>
				</h3>
				
			</div>
			
		</div>
	</ion-content>
</ion-content>


<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
