page-specia {
	.category{
		.scroll-content {
			padding: 0px !important; 
			padding-top: 0px;
		}
		
		
	}
	
	.ion-scroll-c{
	    margin-top: 20px;
		margin-bottom: 15px;
		
		.scroll-content{
			overflow-x: auto;
			padding: 5px !important;
		}
	}

	.select-p{
		margin-top: 34px !important;
	}
	
	.cat{
			width: 70px;
			height: 70px;
			min-width: 70px;
			min-height: 70px;
			max-width: 70px;
			max-height: 70px;
			border-radius: 50%;
			margin-right:10px;
			background-size:70%; 
			  
			background-position: center;
			background-repeat: no-repeat; 
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

			text-align:center;
				
			.cat-ico{
				font-size: 4.5rem;
				position: relative;
				top: 12px;
				color:color($colors, green-brand, #044);
			}
		}
	.cat.select{
		background-color:color($colors, green-brand, #044);
		border: 4px double #fff;
		.cat-ico{	
			color:#fff;
			top:8px;
		}

	}
	.inline{
		display: -webkit-inline-box;
	}


	.thumbnail{
		width: 100px;
		height: auto;
	}

	.thumbnail-clin{
		width: 180px;
		height: auto
	}

	.label-t{
		border: 1px solid #707070;
		padding: 0px 10px;
		border-radius: 16px;
		color: #707070;
	}

	.label-l{
		float: right;
		color: darkgrey;
	}
	.footer-card{
		text-align:center;
	}
	
	issues-card ion-card{
		width: 200px !important;
		
	}


	.perfil-us{
		margin-right:10px;
	}
	
	.perfil-us:first-child, .cat{
		margin-left:10px;
	}
	
	.error-found{
		width:100%;
		h3{
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			color: gray;
			margin-top: 25px !important;
			text-align: center;
		}

	}
	
	.perfil-us+ .error-found{
		display:none;
	}
	
	.cat ion-spinner * {
	  width: 40px;
	  height: 58px;
	  stroke: color($colors, green-brand, #044);
	  margin-top: 5px;
		margin-right: 10px;
	}
	
	ion-card-content p{
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 120px;
	}
	
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
		h2{
			margin-top: 0.3rem;
			color:#2680EB;
			font-size: 1.2rem !important;
			min-height: 2.5rem;
    overflow-y: hidden;
		}
		p{
			margin: 0.3rem;
			font-size: 1.2rem !important;
			
		}
}
