page-infouser {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.texto{
		padding: 20px;
		text-align: justify;
		font-size:1.6rem;
		line-height: 2.5rem;
	}
	
	h1, h2{
		font-size: 2.4rem;
		color: rgb(97, 114, 125) !important;
		font-weight: 400;
	}
}
