
<ion-header no-border >

  <ion-navbar >
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content padding >
		<h1>{{"Acerca de" | translate }} {{doctor?.full_name}} </h1>

		<div class='texto'>
			{{doctor?.about_me}}
		</div>
		<h2>{{"Mi Experiencia" | translate }} </h2>
		<div class='texto'>
			{{doctor?.experience}}
		</div>


</ion-content>
