<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border >
	<ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
		<ion-toolbar >
			<ion-title> {{"Payment" | translate }}</ion-title>
			
		</ion-toolbar>
	
</ion-header>


<ion-content padding>
	<ion-list >
		<ion-item>
			<ion-icon name="ios-contact-outline" item-start></ion-icon>
			<h2>Richard Damon</h2>
		</ion-item>
	
		<ion-item class="green-item">
			<h2>{{"Payment for" | translate }} House Visit</h2>
			<p> {{ doctor?.full_name}}</p>
			<span item-end>
				<sup>{{"Total" | translate }}</sup>  $15
			</span>
		</ion-item>
	</ion-list>
	
	<ion-grid>
		<ion-row style="    font-size: xx-large;text-align: center;    padding-bottom: 10px;">
			<ion-col col-4 (click)="paypal()"><a class='methodPay pago-a google-ico' > <span >   </span></a> </ion-col>
			<ion-col col-4 (click)="paypal()"><a class='methodPay  pago-a paypal-ico' > <span >   </span></a></ion-col>
			<ion-col col-4 (click)="paypal()"><a class='methodPay  pago-a stripe-ico'> <span >   </span> </a></ion-col>
		</ion-row>
	</ion-grid>
	<ion-list style="margin-bottom:5px">
		  <ion-item>
			<ion-label stacked>{{"Card Name" | translate }}</ion-label>
			<ion-input type="text"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label stacked>{{"Card Number" | translate }}</ion-label>
			<ion-input type="password"></ion-input>
		  </ion-item>

	</ion-list>
	<ion-grid>
		<ion-row style=" ">
			<ion-col col-6 >
				<ion-label stacked>{{"Expiry Date" | translate }}</ion-label>
				<ion-input type="text"></ion-input>
			</ion-col>
			
			<ion-col col-6 >
				<ion-label stacked>{{"CVV" | translate }}</ion-label>
				<ion-input type="text"></ion-input>
			</ion-col>
		</ion-row>
		
	</ion-grid>
	<ion-item>
		<ion-label style="font-size: 1.4rem">{{"Save card data for future payments" | translate }}</ion-label>
		<ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
	</ion-item>
	<ion-grid>
		<ion-row style="    font-size: xx-large;text-align: center;">
						<ion-col col-2></ion-col>
						<ion-col col-8> <button class="btn-pay" ion-button block  (click)="loginCuenta(userL.email, userL.password)">  <ion-icon name="checkmark"></ion-icon></button> </ion-col>
						<ion-col col-2></ion-col>
		</ion-row>
	</ion-grid>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
