page-payment {
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	ion-item, .item-inner{
		border: none !important;
	}
	
	.green-item{
		background-color:#84cb36;
			color: #fff;
			border-radius: 25px;
			font-weigth:600;
			font-size: 1.2 rem !important;
			padding: 5px 25px;
			
			ion-label{
				margin:3px;
				border-right: 2px #fff solid;
			}
			
			p{
				color:#fff;
				padding-left:10px;
			}
			
	}
	ion-grid{
		margin: 0px !important;
		padding: 0px !important;
	}
	.methodPay{
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		padding: 15px;
		border-radius: 10px;
		font-size: 2rem;
		margin-bottom:1.2rem;
		
		
	}
	
	.paypal-ico{
		background: transparent url(https://www.paypalobjects.com/images/shared/paypal-logo-129x32.svg) top center no-repeat;
	}
	
	.stripe-ico{
		background: transparent url(https://stripe.com/img/documentation/logo.svg) top center no-repeat;
	}
	
	.google-ico{
		background: transparent url(https://pay.google.com/about/static/images/logos/google-pay-logo.svg) top center no-repeat;
	}
	.pago-a{
			
			width: 105px;
			height: 32px;
			background-size: 80%;
			background-position: center;
			padding-left: 8rem;
	}
		
	input{
		background-color: #f5fbef !important;
		margin-left:0px !important;
	}
	
	.btn-pay{
		
		background-color:#84cb36;
		border-radius: 25px;
		ion-icon{
			font-size: 5rem
		}
	}
}
