// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

ion-header {
  .toolbar {
  
    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: black;
    }
  }
  
  .logo{
		background-image: url(/assets/imgs/logo_blanco.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
  }
  
  .setting{
	background-image:url('/assets/imgs/home/Grupo 2057.png'); 
			background-size: auto;
		background-repeat: no-repeat; 

  }
}

.toolbar-title-md{
	text-align:center;
}
ion-footer {
  .toolbar {
  
    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: black;
    }
	
	ion-buttons{
		button{
			margin-right:20px;
		}
	}
	
  }
}

ion-app{
	background-color: #000 !important;
}



.setting-gray{
	background-image: url(/assets/imgs/search-p/7.png);
	background-size: auto;
	background-repeat: no-repeat; 
}	

.logo-2{
	background-image: url(/assets/imgs/colorLogo.png);
	background-size: inherit;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	color: #0000;
}
	
.btn-action{
	span{
		justify-content: center !important;
	}
}

.btn-action.danger{
	span{
		color:  #C1272D !important;
	}
}

ion-navbar{

}

.btn-primary{
	background-color: #8cca19 !important;
	border-radius:5px;
}

mat-progress-bar{
		position: absolute !important; 
		top:0;
		.mat-progress-bar-primary{
				background-color: #8cca19 !important;
		}
		
		.mat-progress-bar-secondary{
				background-color: #8cca19 !important;
		}
		
		.mat-progress-bar-buffer{
			background-color: rgba(140, 202, 25, 0.45) !important;
			
		}
		svg{
			display:none;
		}
}
	
	
	
.row-principal{
	height:100%;
}


.btn-iniciar{
			background: #55cb17 !important;
    border-radius: 7px;
			
		}


		ion-spinner  {
			width: 100px;
			height: 100px;
			stroke: #0f0;
			fill: #fff;
	  }
	  
	  .mat-progress-spinner circle {
			  stroke: #8cca19;
	  }