<ion-menu [content]="content" type="overlay" >
  <ion-header >
    <ion-toolbar>
      <ion-title>Wortix</ion-title>
    </ion-toolbar>
	<ion-toolbar>
		<ion-title></ion-title>
		
	</ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
	   <button menuClose ion-item  (click)="cerrar_session()">
        Cerrar Sesion
      </button>
    </ion-list>
  </ion-content>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer no-border style="z-index:101;" [hidden]="utilProvider.footer==false">
  <ion-toolbar>
       <ion-buttons  style="    text-align: center; ">
			<button ion-button  style="margin-left: 14px; ">
				<ion-icon name="ios-home-outline"  style="font-size:3.7rem; color:#f7f7f7"></ion-icon>
			</button>
			
			<button ion-button  style="margin-left: 14px; " *ngIf="false">
				<ion-icon name="ios-mail-outline"   style="font-size:3.7rem; color:#f7f7f7"></ion-icon>
			</button>
			<button ion-button  style="margin-left: 14px; " (click)="reviewUser()" >
				<ion-icon name="ios-person-outline"  style="font-size:3.7rem; color:#f7f7f7"></ion-icon>
			</button>
		</ion-buttons>
  </ion-toolbar>
</ion-footer>