issues-card {
	.issues{
		border-radius: 15px;
		ion-card-header{
			color:#fff;
			background-color: #8cca19;
			font-weight:700;
			text-align: center;
			padding: 8px 10px;
			
		}
		
		ion-card-content{
			font-size: 1.4rem;
				color: #c1c1c1;
			
			
			.description{
				font-size: 1.2rem;
				color: #c1c1c1;
				font-weight:600;
				
				overflow: scroll;
				margin: 10px
			}
			
			.description-f{
				min-height: 16rem;
				max-height: 16rem;
			}
			
			.mini-text{
				font-size: 1rem;
				color: #c1c1c1;
				text-align:center;
			}
			
			.perfil-us{
				padding-left: 0px;


				ion-label{
					h2{
						font-size: 1.2rem;
					}
					
					p{
						font-size: 0.7rem;
					}
				}
			}
		}
	}
}
