<!-- Generated template for the IssuesCardComponent component -->
<ion-card class="issues" (click)="goToMore(is)">
						  <ion-card-header>
						 		{{is.title}}
						  </ion-card-header>
						  <ion-card-content>
							<p class='description description-f'>{{is.description}}</p>
							
							<hr>
							
							<p class="mini-text">{{"Speciality" | translate }}: {{is.specialty?.name}}</p>
							<p class="mini-text">{{"Date" | translate }}: {{is.scheduled_date}}</p>
						
							<p class="mini-text">
								<ng-container *ngFor="let s of stars">
									<ion-icon name="star" style="color:#ee9e02" *ngIf="is.rating >= s"></ion-icon>
									<ion-icon name="star-outline" style="color:#000"  ></ion-icon>
									
								</ng-container>
							</p>
							<hr>
							
							<ion-list >
							    <ion-item  class="perfil-us" >
									<ion-avatar item-start>
									  <img [src]="is.doctor?.photo_url">
									</ion-avatar>
									<h2>{{is.doctor?.name}} {{is.doctor?.last_name}}</h2>
									<p>{{is.doctor?.specialty?.name}} Medicina general" | translate }}</p>
								</ion-item>
							</ion-list>
							
							<p class='description'>
								{{is.last_comentario?.message}}
								
							
							</p>
							<div class="footer-card">
								<a class="btn-primary" ion-button  block small >Details</a>
							</div>
						  </ion-card-content>
</ion-card>