<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<div class="portada" >
		<img [src]="authService.userL?.user.photo_url">
	</div>
	<div class='nombre-lb'>
		<p class="nombre"> {{authService.userL?.user.fullName}} </p>
		<p class="address"> {{authService.userL?.user.address}} </p>
	</div>
	<hr/>
	<span class="label-t">{{"Personal Information" | translate }} </span>
	
	<ion-list>
		<ion-item>
			<h2>ID</h2>
			<p>{{authService.userL?.user.id}}</p>
		</ion-item>
		<ion-item>
			<h2>{{"Phone" | translate }}</h2>
			<p>{{authService.userL?.user.phone}}</p>
		</ion-item>
		<ion-item>
			<h2>{{"Birth Date" | translate }}</h2>
			<p>{{authService.userL?.user.birthdate}}</p>
		</ion-item>
		
		<ion-item [hidden]="true">
			<h2>{{"Place Birth" | translate }}</h2>
			<p>I've had a pretty messed up day. If we just...</p>
		</ion-item>
		
		
		
		<ion-item>
			<h2>{{"Email" | translate }}</h2>
			<p>{{authService.userL?.user.email}}</p>
		</ion-item>
		
		
		
		<ion-item  [hidden]="true">
			<h2>{{"Carreer" | translate }}</h2>
			<p>I've had a pretty messed up day. If we just...</p>
		</ion-item>
		
		<ion-item  [hidden]="true">
			<h2>{{"Degree of Instruction" | translate }}</h2>
			<p>I've had a pretty messed up day. If we just...</p>
		</ion-item>
		<ion-item  [hidden]="true">
			<h2>{{"Civil Status" | translate }}</h2>
			<p>I've had a pretty messed up day. If we just...</p>
		</ion-item>
	</ion-list>
	
	<hr/>
	<span class="label-t">{{"Medical Information" | translate }} </span>
	<p style="color: #999; text-align:center"> {{"Have you suffered any of these diseases?" | translate }} </p>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let disease of providerIssues.diseases" col-6>
				<span class='disease-text' [ngClass]="{ 'active': providerIssues.myDiseasesMap[disease.id]?.active}" (click)="active(disease)"> {{disease.name}} </span>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<hr/>
	<span class="label-t" [hidden]="false">{{"Allergies" | translate }} </span>
	
	
	<ion-content #contentPlaces class="ion-scroll-c category"   style="height:90px;    padding-left: 10px; margin-left: -16px;" [hidden]="false">
			<div class="inline" style="width:100%; ">
				<ng-container  *ngFor="let allergy of providerIssues.allergies">
					<div class="perfil-al" >
						<h2  class="al-name">{{allergy.name}}</h2>
						<span class="al-ser">{{allergy.severity}}</span>
					</div>
				</ng-container>
				
				
				<div class="perfil-al plus" (click)="addAlergia()" >
					<h2  class="al-plus">+</h2>
				</div>
				
				
				
			</div>
	</ion-content>
	<hr/>
	<span class="label-t" [hidden]="false">{{"Antecedants" | translate }} </span> <ion-icon name="add-circle" (click)="addAntecendentes()"></ion-icon>
	<ion-grid>
		<ion-row style="margin-top:5px; border-radius: 50px; font-size: 1.0rem; font-weight:700">
			<ion-col col-4>
				
				<p style="text-align:center; margin:0"> {{"Background" | translate }}</p>
				
			</ion-col>
			<ion-col col-4>
				<p style="text-align:center; margin:0"> {{"Type" | translate }}</p>
			
				
			</ion-col>
			
			<ion-col col-4>
				<p style="text-align:center; margin:0"> {{"Date" | translate }}</p>
			</ion-col>
		</ion-row>
		<ion-row   *ngFor="let ant of providerIssues.antecedents" style="margin-top:5px;border: solid 1px #95ce2a; border-radius: 50px; font-size: 1.0rem;">
			<ion-col col-4>
				
				<p style="text-align:center; margin:0"> {{ant.name}}</p>
				
			</ion-col>
			<ion-col col-4>
				<p style="text-align:center; margin:0"> {{ant.type}}</p>
			
				
			</ion-col>
			
			<ion-col col-4>
				<p style="text-align:center; margin:0"> {{ant.created_at}}</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	
	
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>