page-clinic-history {

	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}

	.portada{
		text-align: center;
		
		img{
			width: 50px;
		    height: 50px;
			border-radius: 50%;
			
		}
	}
	
	.nombre-lb{
		text-align: center;
		border-radius: 10px;
		background-repeat: no-repeat; 
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			padding: 5px;
		p{
			
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.nombre{
			color: #8cca19;
			font-weight: 700;
			font-size:1.8rem;
			
		}
	}
	
	.label-t{
		border: 0px solid #707070;
		background-color:  #8cca19;
		padding: 1px 10px;
		border-radius: 16px;
		color: #fff;
	}
	
	ion-list{
		    margin: 10px 50px !important;
	}

	.disease-text{
		font-size:1.6rem;
		font-weight:700;
		color:#bbb;
	}
	
	.disease-text.active{
		color: blue;
	}
	
	.ion-scroll-c{
	    margin-top: 20px;
		margin-bottom: 15px;
		
		.scroll-content{
			overflow-x: auto;
			padding: 5px !important;
		}
	}
	
	.inline{
		display: -webkit-inline-box;
	}
	
	.perfil-al{
		margin-right: 8px;
		text-align: center;
		padding: 6px 16px;
		background-color: #5887F9;
		color: #fff;
		border-radius:5px;
		
		.al-name{
			text-align:center;
			font-size:1.4rem;
			margin-bottom:0px;
			margin-top:3px;
		}
		
		
		.al-ser{
			font-size:1.2rem;
			color:rgba(255,255,255,0.45)
		}
	}
	
	.perfil-al.plus{
		background-color: #C5D5FD;
		.al-plus{
			text-align:center;
			font-size:3rem;
			margin-bottom:0px;
		}
	}
	
	ion-icon{
		float: right;
		font-size: x-large;
		color: #8cca19;
	}
}
