<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>

<ion-content padding  style="background-color: #fff !important">
		<ion-slides [pager]="true">
			<ion-slide *ngFor="let file of issue.files">
				<div  *ngIf="file.mime_major == 'image'" style="text-align: center;">
					<img [src]="file.url" style="max-height:240px">
				</div>
				<div  *ngIf="file.mime_major != 'image'" style="text-align: center;">
					<ion-icon name="document" style="font-size: 7.2em; color: #8cca19;"></ion-icon>
					<h1>Documento</h1>
					<a href="{{file.url}}" style="font-size: 2.4rem; color: #61727d;"><ion-icon name="download"></ion-icon></a>
				</div>
			</ion-slide>

		</ion-slides>
		

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	
	<w-footer >
	</w-footer>
</ion-footer>
