page-file-upload {
	.logo{
		background-image: url(/assets/imgs/logo_blanco.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.content-md {
		color: #000;
		background-color: #fff !important;
}
	ion-header{
		background: #8cca19 !important;
		color: #fff;
		
	}
	
	.texto{
		padding: 5px;
		text-align: justify;
		font-size:1.6rem;
		line-height: 2.5rem;
	}
	
	h1, h2{
		font-size: 2.4rem;
		color: rgb(97, 114, 125) !important;
		font-weight: 400;
	}
	
	.issu_numero{
		color: rgb(97, 114, 125) !important;
	}
	
	ion-grid, ion-col, ion-item{
		margin:0px;
		padding:0px !important;
	}
	.label{
		color: rgb(97, 114, 125) !important;
		font-weight: 500 !important;
		font-size: 1.5rem !important;
		font-family: "Open Sans",sans-serif
	}
	
	ion-item{
		border:none !important;
		box-shadow: none !important;
		.item-inner{
			border:none !important;
			box-shadow: none !important;
			ion-input, ion-textarea, ion-datetime, ion-select{
				    border: 1px #5d474757 solid;
					border-radius: 10px;
					margin-top: 6px;
					
					font-size: 14px;
					background-color: #FCFCFC;
					color: rgb(97, 114, 125) !important;;
					padding-left:10px !important;
			}
			
			ion-textarea{
				min-height: 15.6rem;
				
			}
			ion-label{
				font-size: 1.8rem !important;
				font-weight: 100;
			}
		}
		
		
	}
	
	.item-md ion-avatar ion-img, .item-md ion-avatar img {
		border-radius: 50%;
		overflow: hidden;
		width: 80px;
		height: 80px;
	}
	ion-item{
		background-color: #0000 !important;
		padding-right: 16px !important;
		ion-label{
			color: #fff  !important;
		}
	}
	
	.premap_canvas{
		    margin-right: 16px !important;
			border-radius: 25px;
			height: 320px;
			margin-top:10px;
			margin-bottom:10px;
			
			#map_canvas{
				border-radius:25px;
			}
	}
}
