
<ion-header no-border >

    <ion-navbar >
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	

</ion-header>


<ion-content padding>
	<div class="portada" (click)="addCamara()">
		<img [src]="authService.userL?.user.photo_url">
	</div>
	
	<p  class="name-a" style="text-align:center; margin-block-end: 3px; margin-block-start: 3px; font-weight:700">@{{(authService.userL?.user.fullName || authService.userL?.user.full_name)}}</p>
	<!--p  class="name-a" style="text-align:center; margin-block-end: 3px; margin-block-start: 3px; font-weight:700">Followers 0 | Following 0</p -->
	
	
	<ion-list *ngIf="authService.userL?.user.role != 'doctor'">
		<ion-item *ngFor="let option of options" (click)="option.click()">
			<ion-icon name="{{option.ico}}" item-start  style="font-size:4rem"> <span class=" cat-ico {{option.ico}}" style="font-size:4rem"></span></ion-icon>
		
			<h2>{{option.name}}</h2>
			
		</ion-item>
	</ion-list>
	
	<ion-list *ngIf="authService.userL?.user.role== 'doctor' ">
		<ion-item *ngFor="let option of optionsDoctor" (click)="option.click()">
			<ion-icon name="{{option.ico}}" item-start  style="font-size:6rem"> <span class=" cat-ico {{option.ico}}" style="font-size:6rem"></span></ion-icon>
		
			<h2>{{option.name}}</h2>
			
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>
