page-myprofile {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.portada{
		text-align: center;
		
		img{
			width: 100px;
		    height: 100px;
			border-radius: 50%;
			
		}
	}
	
	.category{
		.scroll-content {
		padding: 0px !important; 
		}
		
		
	}
	
	.cat{
			width: 60px;
			
			height: 60px;
			border-radius: 50%;
			margin-right:10px;
			  background-size:auto; 
			  
			  background-position: center;
			  background-repeat: no-repeat; 
		}
		
	.item-block .item-inner {
		border-bottom: none !important;
	}
	
	ion-item{
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

		
	}
	ion-item:nth-child(even){
		margin-top: 8px;
		padding: 5px 32px !important;
			border-radius: 20px;
		color: #8cca19;
	}
	
	ion-item:nth-child(odd){
		margin-top: 8px;
		padding: 5px 32px !important;
		border-radius: 20px;
		background-color: #8cca19;
		color: #ffffff;
		
		
	}
}
