<!--
  Generated template for the PaymentConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content  [style.backgroundImage]="'url(' + doctor.photo_url + ')'" (click)="home()">

	<ion-row class="row-principal" align-items-center style="background-color:rgba(111, 189, 20, 0.82)">
		
		<ion-col col-12>
			<div class="box box-A" >
				<div>
					<ion-icon name="checkmark"></ion-icon>
				</div> <br>
				<h1> {{"Thank you" | translate }} </h1>
				<p> {{"your purcharse has been confirmed" | translate }} </p>
			</div>
		</ion-col>
		
	</ion-row>


</ion-content>
