page-payment-confirm {
	.box-A{
		text-align:center;
		ion-icon{
			color:#fff;
			font-size:12rem;
			font-weigth:700;
		}
		
		h1, p{
			margin:0px;
			color:#fff;
		}
		
		p{
			color: rgba(255, 255, 255, 0.3215686274509804);
			font-weight: 700;
			
		}
	}
	
	ion-content{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
