<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
	<ion-toolbar >
      <ion-title class="logo">WORTIX</ion-title>
    </ion-toolbar>
	<ion-navbar>
		
		<ion-title></ion-title>
	  </ion-navbar>

</ion-header>


<ion-content padding style="color: #fff">
	
	<h2>Settings</h2>
	
	<ion-list>
		<ion-item *ngFor="let option of options" (click)="option.click()">
			<ion-icon name="{{option.ico}}" item-start style="font-weight: 100; color:#fff"></ion-icon>
			<h2 style="font-weight: 100;">{{option.name}}</h2>
			<ion-icon name="arrow-forward" item-end style="font-weight: 100;"></ion-icon>
			
		</ion-item>
	</ion-list>
	
</ion-content>
