page-setting {
	ion-content{
		background: #8cca19 !important;
		
	}
	
	.back-button{
		color: #fff;
		
		span{
			font-size:0px;
		}
	}
	
	ion-header .toolbar .toolbar-title {
		font-size: 28px;
		color:transparent;
	}
	
	h2{
		
		font-weight:100;
	}
	ion-list{
		border:none !important;
		ion-item{
			background: rgba(0,0,0,0) !important;
			margin: 20px 0px !important;
			border: 1px solid #fff !important;
			border-radius:15px  !important;
			padding:5px 10px !important;
			
			    height: 4rem;
				
			.item-inner{
				border-bottom: none !important;
				color: #fff;
				font-weight:100;
			}
		}
	}
}
