page-citaubicacion {

	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	.searchbar-input{
		border-radius:30px !important;
		line-height: 1rem !important;
	}
	.searchbar-search-icon {
		top: 4px !important;
	}
	
	.scroll-content{
		margin:0px !important;
		padding:0px !important;
	}
	
	ion-range{
		background: #fff;
		border-radius: 40px;
		padding: 0px 15px !important;
		margin-top: 10px;
		
		ion-label:last-child{
			color: color($colors, green-brand, #044);
			
		
		}
		
		.range-slider {
			height: 20px !important;
		}
		
		 .range-bar {
			left: 0;
			top: 6px !important;
		}
		.range-knob-handle {
			left: 0;
			top: 7px !important;
			margin-left: -21px;
			margin-top: -21px;
			text-align: center;
			position: absolute;
			width: 42px;
			height: 20px !important;
		}
		
	}
	
	.segment-button {	
		height: 2rem !important;
		
	}
	
	.panel-down{
		position: absolute;
		background-color: #fff;
		-webkit-box-shadow: 0px -8px 23px -3px rgba(158,142,158,0.66);
		-moz-box-shadow: 0px -8px 23px -3px rgba(158,142,158,0.66);
		box-shadow: 0px -8px 23px -3px rgba(158,142,158,0.66);
		bottom: 0;
		min-width: 100%;
		/*height: 65%;*/

		border-radius: 25px 25px 0px 9px;
		max-height:75%;
		overflow:hidden;
		
		hr{
			    margin: 11px 35%;
			/* size: 25px; */
			border-top: 4px solid #8cca19;
			border-radius: 15px;
			border-radius: 50px 50px 50px 50px;
			
			
			
			
		}
		
		hr.gris{
				border-top: 4px solid #eee;
				 margin: 11px 45%;
		}
		
		.segmento [padding]{
			    padding: 5px!important
		}
			
		
		ion-segment-button{
			border: none !important;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			border-radius: 15px !important;
			color:#000 !important;
			margin:10px;
			
			
			
			
		}
			ion-list{
				    padding-right: 20px;

				ion-item{
					background-color: #8cca19;
					margin:5px 10px;
					border-radius:  50px 10px 10px 50px;
					
					p{
						color: rgba(255,255,255,0.75) !important;
						font-size: 1rem;
					}
					
					h2{
						color:#fff !important;
						font-size: 1.4rem;
						margin-top: 0px !important;
					}
					
					ion-label{
						margin:0px;
						margin-top: 0px !important;
						
					}
					
					ion-avatar {
					margin: 8px 4px 8px 0 !important;
					
					}
					img {
						border-radius: 50%;
						overflow: hidden;
						width: 46px;
						height: 46px;
						margin-left: -16px;
						margin-top: -4px;
						position: absolute;
					}
					
					
					
				}
				
				.doctors-act{
					background-color: #50ca19;
				}
				
				
			}
			ion-list .perfil-us:last-child{
				    margin-bottom: 150px;
				
			}
	}
	
	.panel-down.open{
		height:65%;
	}
	
	ion-select {
		min-width:100%;
		max-width:100%;
		padding: inherit !important;
		margin-top: -8px;
		.select-icon{
			    margin-top: 9px !important;
		}
	}
	
	.search-list{
		
		z-index: 100;
		width: 90%;
		
		ion-label{
			font-size:1rem;
		}
	}
	
	
	.info-p{
		margin:0px;
		
		margin: 0px;
		font-size: 13px;
		font-weight: 300;
		font-family: "Roboto", "Helvetica Neue", sans-serif;
	}
	
	
	.pgm-html-info-frame{
		bottom: 35px!important;
		left: -98px !important
	}
	
	pgm-html-info-content-frame{
		border-radius:15px;
	}
	
	.gm-style-iw-c, .pgm-html-info-content-box{
		.div-1{
			
			width: 104%;

		}
		img{
			max-width: 75px;
			max-height:75px;
			margin-right:15px;
			border-radius: 50%;
		}
		
		@media (max-width: 360px) {
		 img{
				max-width: 60px;
				max-height:60px;
				margin-top: 1rem;
				margin-left: 0.5rem;
			}
		}
	}
	
	

}
