@font-face {
  font-family: 'wortix';
  src:  url('fonts/wortix.eot?l6xsju');
  src:  url('fonts/wortix.eot?l6xsju#iefix') format('embedded-opentype'),
    url('fonts/wortix.ttf?l6xsju') format('truetype'),
    url('fonts/wortix.woff?l6xsju') format('woff'),
    url('fonts/wortix.svg?l6xsju#wortix') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wortix"], [class*=" wortix"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wortix' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wortixalergics1:before {
  content: "\e925";
}
.wortixneurology:before {
  content: "\e926";
}
.wortixneurology-surgery:before {
  content: "\e927";
}
.wortixgastroenterologist:before {
  content: "\e900";
}
.wortixhiv:before {
  content: "\e901";
}
.wortixinternal-medicine:before {
  content: "\e902";
}
.wortixlaboratory:before {
  content: "\e903";
}
.wortixlung:before {
  content: "\e904";
}
.wortixmaxiofacial-surgery:before {
  content: "\e905";
}
.wortixmicrobiology:before {
  content: "\e906";
}
.wortixnefrology:before {
  content: "\e907";
}
.wortixneumology:before {
  content: "\e908";
}
.wortixodontology:before {
  content: "\e909";
}
.wortixendocrinology:before {
  content: "\e90a";
}
.wortixesthetic-surgery:before {
  content: "\e90b";
}
.wortixgeneral-medicine:before {
  content: "\e90c";
}
.wortixgeneral-surgery:before {
  content: "\e90d";
}
.wortixgenetics:before {
  content: "\e90e";
}
.wortixgeriatrics:before {
  content: "\e90f";
}
.wortixginecology:before {
  content: "\e910";
}
.wortixhematology:before {
  content: "\e911";
}
.wortixinmunology:before {
  content: "\e912";
}
.wortixalergics:before {
  content: "\e913";
}
.wortixcardiology:before {
  content: "\e914";
}
.wortixchest-surgery:before {
  content: "\e915";
}
.wortixdermatology:before {
  content: "\e916";
}
.wortixear-trhoat:before {
  content: "\e917";
}
.wortixemergency:before {
  content: "\e918";
}
.wortixfetus:before {
  content: "\e919";
}
.wortixflasks:before {
  content: "\e91a";
}
.wortixpharmacy:before {
  content: "\e91b";
}
.wortixphysiatrist:before {
  content: "\e91c";
}
.wortixpregnant:before {
  content: "\e91d";
}
.wortixpreventive-medicine:before {
  content: "\e91e";
}
.wortixpsicology:before {
  content: "\e91f";
}
.wortixpsiquiatry:before {
  content: "\e920";
}
.wortixsexology:before {
  content: "\e921";
}
.wortixsyringe:before {
  content: "\e922";
}
.wortixtraumatology:before {
  content: "\e923";
}
.wortixurology:before {
  content: "\e924";
}
