@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?l6xsju');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?l6xsju#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?l6xsju') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?l6xsju') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?l6xsju##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wortix"], [class*=" wortix"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wortixalergics1 {
  &:before {
    content: $wortixalergics1; 
  }
}
.wortixneurology {
  &:before {
    content: $wortixneurology; 
  }
}
.wortixneurology-surgery {
  &:before {
    content: $wortixneurology-surgery; 
  }
}
.wortixgastroenterologist {
  &:before {
    content: $wortixgastroenterologist; 
  }
}
.wortixhiv {
  &:before {
    content: $wortixhiv; 
  }
}
.wortixinternal-medicine {
  &:before {
    content: $wortixinternal-medicine; 
  }
}
.wortixlaboratory {
  &:before {
    content: $wortixlaboratory; 
  }
}
.wortixlung {
  &:before {
    content: $wortixlung; 
  }
}
.wortixmaxiofacial-surgery {
  &:before {
    content: $wortixmaxiofacial-surgery; 
  }
}
.wortixmicrobiology {
  &:before {
    content: $wortixmicrobiology; 
  }
}
.wortixnefrology {
  &:before {
    content: $wortixnefrology; 
  }
}
.wortixneumology {
  &:before {
    content: $wortixneumology; 
  }
}
.wortixodontology {
  &:before {
    content: $wortixodontology; 
  }
}
.wortixendocrinology {
  &:before {
    content: $wortixendocrinology; 
  }
}
.wortixesthetic-surgery {
  &:before {
    content: $wortixesthetic-surgery; 
  }
}
.wortixgeneral-medicine {
  &:before {
    content: $wortixgeneral-medicine; 
  }
}
.wortixgeneral-surgery {
  &:before {
    content: $wortixgeneral-surgery; 
  }
}
.wortixgenetics {
  &:before {
    content: $wortixgenetics; 
  }
}
.wortixgeriatrics {
  &:before {
    content: $wortixgeriatrics; 
  }
}
.wortixginecology {
  &:before {
    content: $wortixginecology; 
  }
}
.wortixhematology {
  &:before {
    content: $wortixhematology; 
  }
}
.wortixinmunology {
  &:before {
    content: $wortixinmunology; 
  }
}
.wortixalergics {
  &:before {
    content: $wortixalergics; 
  }
}
.wortixcardiology {
  &:before {
    content: $wortixcardiology; 
  }
}
.wortixchest-surgery {
  &:before {
    content: $wortixchest-surgery; 
  }
}
.wortixdermatology {
  &:before {
    content: $wortixdermatology; 
  }
}
.wortixear-trhoat {
  &:before {
    content: $wortixear-trhoat; 
  }
}
.wortixemergency {
  &:before {
    content: $wortixemergency; 
  }
}
.wortixfetus {
  &:before {
    content: $wortixfetus; 
  }
}
.wortixflasks {
  &:before {
    content: $wortixflasks; 
  }
}
.wortixpharmacy {
  &:before {
    content: $wortixpharmacy; 
  }
}
.wortixphysiatrist {
  &:before {
    content: $wortixphysiatrist; 
  }
}
.wortixpregnant {
  &:before {
    content: $wortixpregnant; 
  }
}
.wortixpreventive-medicine {
  &:before {
    content: $wortixpreventive-medicine; 
  }
}
.wortixpsicology {
  &:before {
    content: $wortixpsicology; 
  }
}
.wortixpsiquiatry {
  &:before {
    content: $wortixpsiquiatry; 
  }
}
.wortixsexology {
  &:before {
    content: $wortixsexology; 
  }
}
.wortixsyringe {
  &:before {
    content: $wortixsyringe; 
  }
}
.wortixtraumatology {
  &:before {
    content: $wortixtraumatology; 
  }
}
.wortixurology {
  &:before {
    content: $wortixurology; 
  }
}

