$icomoon-font-family: "wortix" !default;
$icomoon-font-path: "fonts" !default;

$wortixalergics1: "\e925";
$wortixneurology: "\e926";
$wortixneurology-surgery: "\e927";
$wortixgastroenterologist: "\e900";
$wortixhiv: "\e901";
$wortixinternal-medicine: "\e902";
$wortixlaboratory: "\e903";
$wortixlung: "\e904";
$wortixmaxiofacial-surgery: "\e905";
$wortixmicrobiology: "\e906";
$wortixnefrology: "\e907";
$wortixneumology: "\e908";
$wortixodontology: "\e909";
$wortixendocrinology: "\e90a";
$wortixesthetic-surgery: "\e90b";
$wortixgeneral-medicine: "\e90c";
$wortixgeneral-surgery: "\e90d";
$wortixgenetics: "\e90e";
$wortixgeriatrics: "\e90f";
$wortixginecology: "\e910";
$wortixhematology: "\e911";
$wortixinmunology: "\e912";
$wortixalergics: "\e913";
$wortixcardiology: "\e914";
$wortixchest-surgery: "\e915";
$wortixdermatology: "\e916";
$wortixear-trhoat: "\e917";
$wortixemergency: "\e918";
$wortixfetus: "\e919";
$wortixflasks: "\e91a";
$wortixpharmacy: "\e91b";
$wortixphysiatrist: "\e91c";
$wortixpregnant: "\e91d";
$wortixpreventive-medicine: "\e91e";
$wortixpsicology: "\e91f";
$wortixpsiquiatry: "\e920";
$wortixsexology: "\e921";
$wortixsyringe: "\e922";
$wortixtraumatology: "\e923";
$wortixurology: "\e924";

