<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<!--<p> Es para mi? </p>-->
	<p> <span class='chip'> {{"Doctor" | translate }}</span>  {{doctor?.full_name}} </p>
	<p>  <span class='chip'>{{"Tipo de consulta" | translate }}</span>  {{tipos[tipo]?.name}}  </p>
	<!-- <p> Valor de la consulta:  $  </p> -->
	<ion-list>
	  <ion-item>
		<ion-label stacked>{{"Titulo" | translate }}</ion-label>
		<ion-input type="text" [(ngModel)]="ncita.title"></ion-input>
	  </ion-item>
	  
	  <ion-item>
		<ion-label stacked>{{"Descripcion" | translate }}</ion-label>
		<ion-textarea  type="text" [(ngModel)]="ncita.description"></ion-textarea >
	  </ion-item> 
	  
	 <!-- <ion-item>
			<ion-label stacked>{{"Especialidad" | translate }}</ion-label>
			<ion-select  [(ngModel)]="ncita.specialty_id">
				  <ion-option *ngFor="let category of categories"value="{{category.id}}"> {{category.name}}</ion-option>
			</ion-select>
	  </ion-item> -->
	  
	  <ion-item>
		<ion-label stacked>{{"Fecha de la consulta" | translate }}</ion-label>
		<ion-datetime [(ngModel)]="ncita.scheduled_start"></ion-datetime>
	  </ion-item>
	  <ion-item (click)="util.fileClick('profile_image_input')">
	  
				<ion-label id="profile_image" color="primary" stacked >Agregar Archivo
						<span class="issu_numero" style="float:right; "  [ngClass]="{'active-folder':files.length > 0 }"> 
							<ion-icon name="folder"></ion-icon>
						</span>
				</ion-label>
			
			
				<ion-input type="file" id="profile_image_input"  (change)="changeListener($event)" multiple="multiple" style="display:none"></ion-input>
		</ion-item>
		
		<ion-item (click)="seleccionar_ubicacion()" *ngIf="tipo == 3">
	  
				<ion-label id="profile_image" color="primary" stacked >Ubicacion {{ this.ncita.latitude == 0  && this.ncita.longitude  == 0?"(CLICK PARA CAMBIAR)":"" }}
						<span class="issu_numero" style="float:right; "  [ngClass]="{'active-folder':this.ncita.latitude != 0  && this.ncita.longitude  != 0}"> 
							 <ion-icon name="map"></ion-icon>

						</span>
				</ion-label>
		</ion-item>
	</ion-list>
	
	
	<ion-grid>  
		<ion-row style="    font-size: xx-large;text-align: center;">			
			<ion-col col-12> 			
				<button class='btn-iniciar' ion-button  round (click)="nueva_cita()" style="width:100%">   {{"Pedir Cita" | translate }}</button>
			</ion-col>
		</ion-row>
	</ion-grid>
		
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>