page-nueva-cita {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	ion-content{
		/*background: #8cca19 !important;*/
		color: #A8A8A8;
		
	}
	
	.scroll-content {
		padding: 20px !important;
		
		@media(max-height: 640px) {
			 padding: 20px !important;
		}
	}

	h1, p{
		color: #A8A8A8;
	}
	
	ion-item{
		background-color: #0000 !important;
		
		ion-label{
			color: #A8A8A8  !important;
		}
	}
	
	.chip{
		font-size: 1.4rem;
		border: 1px solid #A8A8A8;
		border-radius: 15px;
		padding: 2px 4px;
		margin-left: 16px;
	}
	
	ion-item{
		.item-inner{
			border:none !important;
			box-shadow: initial !important;
			
			ion-input, ion-textarea, ion-datetime, ion-select{
				border: 1px #999 solid;
				border-radius: 16px;
				margin-top: 6px;
				background: #ffffff61;
				padding-left:10px;
				
			}
			
			ion-datetime{
				padding-left:20px !important;
			}
			
			
			ion-textarea{
				min-height: 10.6rem;
				padding-left:20px !important;
				
			}
			ion-label{
				font-size: 1.6rem !important;
				/* font-weight: 100; */
				color:#A8A8A8 !important;
				padding-left:20px;
			}
			
			.select,  .select {
				padding-left: 20px !important;
  
			}
		}
		
		
	}
	
	.b{
		
		position: absolute;
		bottom: 30px;
		width: calc(100% - 120px);
		text-align: center;
		
		@media(max-height: 640px) {
			bottom: 30px;
			width: calc(100% - 40px);
		}
	}
	button.end{
		width: 60%;
		height: 50px !important;
		font-size: 1.8rem !important;
		background: #ffF!important;
		color: #8cca19!important;
		
		
		@media(max-height: 640px) {
			height: 40px !important;
			font-size: 1.4rem !important;
			margin-top:20px;
			top: 25px;
		}
	}
	
	
	.active-folder{
		color: #55cb17!important
	}
	
}
