<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<ion-item>
		  <ion-label>{{"Allow Notification" | translate }}</ion-label>
		  <ion-toggle  checked="true"></ion-toggle>
	</ion-item>
	
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>