page-payment-resume {
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.portada{
		text-align: center;
		
		img{
			width: 150px;
		    height: 150px;
			border-radius: 50%;
			
		}
	}
	
	h3{
		font-size:1.8rem;
		color:#8cca19;
		text-align:center;
		
	}
	
	p{
		margin-top:2px;
		margin-bottom:2px;
		
	}
	
	.coins-label{
		text-align: center;
		width: 89%;
		font-size: 4.4rem;
		color: #3294cd;
		font-weight: 400;
		background-color: aliceblue;
		height: 83%;
		margin-top: 12px;
		margin-bottom: 0px;
		border-radius: 35px;
	}
	
	.blue{
		color: #3294cd;
	}
	
	.methodPay{
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		padding: 15px;
		border-radius: 10px;
		font-size: 2rem;
		margin-bottom:1.2rem;
		
		
	}
	
	.paypal-ico{
		background: transparent url(https://www.paypalobjects.com/images/shared/paypal-logo-129x32.svg) top center no-repeat;
	}
	
	.stripe-ico{
		background: transparent url(https://stripe.com/img/documentation/logo.svg) top center no-repeat;
	}
	
	.google-ico{
		background: transparent url(https://pay.google.com/about/static/images/logos/google-pay-logo.svg) top center no-repeat;
	}
	
	.btn-pay{
		
		background-color:#84cb36;
		border-radius: 25px;
		ion-icon{
			font-size: 5rem
		}
	}
}
