<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<div class="portada" >
		<img [src]="doctor.photo_url">
	</div>
	<h3> {{doctor.full_name}} </h3>
	
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<h3 style="text-align: left">{{"Consultation" | translate }}</h3>
				<p style="color:#999">{{tipos[tipo]?.name}} </p>
				<p>www.wortix.com</p>
			</ion-col><ion-col col-6>
				<div class="coins-label">$ 25</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-grid style="margin-top:15px;border: solid 3px #95ce2a; border-radius: 50px;">
		<ion-row>
			<ion-col col-6>
				<h3 class='blue'>{{"Date" | translate }}</h3>
				<p style="text-align:center">11/09/2019</p>
				
			</ion-col>
			
			<ion-col col-6>
				<h3 class='blue'>{{"Time" | translate }}</h3>
				<p style="text-align:center">59:25</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	
	<ion-grid  style="margin-top:15px;">
		<ion-row>
			<ion-col col-6>
				<p style="color:#999">{{"Transfer Method" | translate }}</p>
				
			</ion-col>
			
			<ion-col col-6>
				
				<ion-grid>
					<ion-row style="    font-size: xx-large;text-align: center;    padding-bottom: 10px;">
						<ion-col col-12><div class='methodPay  pago-a paypal-ico' > <span >   </span></div></ion-col>
						<ion-col col-12 (click)="paypal()" [hidden]="true"><div class='methodPay  pago-a stripe-ico'> <span >   </span> </div></ion-col>
					</ion-row>
				</ion-grid>
			
			</ion-col>
			
			
		</ion-row>
	</ion-grid>
	
	<ion-grid>
		<ion-row style="    font-size: xx-large;text-align: center;">
						<ion-col col-2></ion-col>
						<ion-col col-8> <button class="btn-pay" ion-button block   (click)="paypal()">  <ion-icon name="checkmark"></ion-icon></button> </ion-col>
						<ion-col col-2></ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
