<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>
<ion-content padding>
		<ion-row align-items-center class="row-principal">
			
			<ng-container  *ngFor="let category_g of categories2; ev_p as even">
				<ng-container  *ngFor="let category of category_g; ev as even">
					<ion-col col-1></ion-col>
					<ion-col col-5>
						<a style="text-align:center; " (click)="selectSpecialitie(category)">
							<div class="cat" >	
								<span class=" cat-ico {{category.ico}}" style="font-size:6rem"></span>
										
							</div>
						</a>
						
					</ion-col>
					<ion-col col-1 *ngIf="ev"></ion-col>
				</ng-container>
				<ng-container  *ngFor="let category of category_g; ev as even">
					<ion-col col-1></ion-col>
					<ion-col col-5>
						<div class="category-name">{{category.name}}</div>
					</ion-col>
					<ion-col col-1 *ngIf="ev"></ion-col>
				</ng-container>
			</ng-container>
			
		</ion-row>

</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>