page-specialities {
	.cat{
			min-width: 110px;
			border: 1px solid #2680eb;
			min-height: 110px;
			max-width: 110px;
			max-height: 110px;
			border-radius: 50%;
			margin-right:10px;
			background-size:auto;
			background-position: center;
			background-repeat: no-repeat; 
		}
	.row-principal{
		height:100%;
		
			.cat{
				margin-top:0rem;
				margin-bottom: 5px;
				margin-left: 5px;
				//border-style: outset;
				-webkit-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				-moz-box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				box-shadow: -5px 9px 19px 1px rgba(227,220,227,0.45);
				text-align:center;
				
			}
			
			cat:even{
				margin-right:0.5rem;
			}
			
			cat:odd{
				margin-left:0.5rem;
			}

			.category-name{
				text-align:center;
				text-transform: uppercase;
			}
			
			.cat-ico{
				font-size: 6rem;
				position: relative;
				top: 22px;
				color:color($colors, green-brand, #044);
			}
	}
	
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
}
