<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>

<ion-content padding>
	<div class="portada" (click)="addCamara()">
		<img [src]="userActual.photo_url">
	</div>

	<ion-list >

		<ion-item>
			<ion-label stacked>{{"Name" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.name"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Last Name" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.last_name"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Documento de Identidad" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.dni"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Nombre para Mostrar" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.display_name "></ion-input>
		</ion-item>
		
		
		<ion-item>
			<ion-label stacked>{{"Fecha de Nacimiento" | translate }}</ion-label>
			<ion-datetime type="text" displayFormat="DD/MM/YYYY"  [(ngModel)] = "userActual.birthdate "></ion-datetime>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Genero" | translate }}</ion-label>
			<ion-select [(ngModel)]="userActual.gender"  >
				  <ion-option value="Masculino">{{"Masculino" | translate }}</ion-option>
				  <ion-option value="Femenino">{{"Femenino" | translate }}</ion-option>
				  <ion-option value="Desconocido">Desconocido</ion-option>
			</ion-select>
		</ion-item>
		
		
		<ion-item>
			<ion-label stacked>{{"Especialidad" | translate }}</ion-label>
			<ion-select  [(ngModel)]="userActual.specialty_id">
				  <ion-option *ngFor="let category of categories"value="{{category.id}}"> {{category.name}}</ion-option>
			</ion-select>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Direccion" | translate }}</ion-label>
			<ion-textarea type="text" value="" [(ngModel)] = "userActual.address"></ion-textarea>
		</ion-item>
		
		<ion-item>
			<ion-label stacked >{{"Correo Elétronico" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.email"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Telefono Fijo" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.phone"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>{{"Telefono Movil" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.mobile"></ion-input>
		</ion-item>
		
		<ion-item  *ngIf="!authProvider.isLogin">
			<ion-label stacked>{{"Password" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.password"></ion-input>
		</ion-item>
		
		
		<ion-item  *ngIf="!authProvider.isLogin">
			<ion-label stacked>{{"Confirmar Password" | translate }}</ion-label>
			<ion-input type="text" value="" [(ngModel)] = "userActual.password"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label>House Visit</ion-label>
		  <ion-toggle (ionChange)="addTipo('house-visit')" checked="false"></ion-toggle>
		</ion-item>
		
		<ion-item>
			  <ion-label>Consultation Room</ion-label>
			  <ion-toggle  (ionChange)="addTipo('consultation-room')" ></ion-toggle>
		</ion-item>
		
		<ion-item>
			  <ion-label>Online</ion-label>
			  <ion-toggle  (ionChange)="addTipo('online')" ></ion-toggle>
		</ion-item>
		
		<ion-grid>
		  
					  <ion-row style="    font-size: xx-large;text-align: center;">
						<ion-col col-2></ion-col>
						<ion-col col-8> 
							
								<button class='btn-iniciar' ion-button  round (click)="registerDoctor()" *ngIf="!authProvider.isLogin">  {{"Registrarme" | translate }}</button>
							
								<button class='btn-iniciar' ion-button  round (click)="updateDoctor()" *ngIf="authProvider.isLogin">  {{"Actualizar Datos" | translate }}</button>
							
						
						</ion-col>
						<ion-col col-2></ion-col>
						</ion-row>
				  </ion-grid>
		
		
		
		
		

	</ion-list>
</ion-content>

<ion-footer  style="z-index:101; background: #fff" >
	<w-footer >
	</w-footer>
</ion-footer>