page-acount {
	.logo{
		background-image: url(/assets/imgs/logo_color.svg);
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	.portada{
		text-align: center;
		
		img{
			width: 100px;
		    height: 100px;
			border-radius: 50%;
			
		}
	}
	
	
	
	ion-content{
		/*background: #8cca19 !important;*/
		color: #fff;
		
	}
	
	.scroll-content {
		padding: 20px !important;
		
		@media(max-height: 640px) {
			 padding: 20px !important;
		}
	}

	h1, p{
		color: #fff;
	}
	
	ion-list{
		-webkit-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
			-moz-box-shadow: -1px 2px 2px 1px rgba(227,220,227,0.45);
			box-shadow:-1px 2px 2px 1pxrgba(227,220,227,0.45);
	}
	ion-item{
		background-color: #0000 !important;
		
		ion-label{
			color: #fff  !important;
		}
	}
	
	.chip{
		font-size: 1.4rem;
		border: 1px solid #fff;
		border-radius: 15px;
		padding: 2px 4px;
	}
	
	ion-item{
		.item-inner{
			border:none !important;
			box-shadow: initial !important;
			
			ion-input, ion-textarea, ion-datetime, ion-select{
				border: 1px #999 solid;
				border-radius: 16px;
				margin-top: 6px;
				background: #ffffff61;
				padding-left:10px;
				
			}
			
			ion-datetime{
				padding-left:20px !important;
			}
			
			
			ion-textarea{
				min-height: 10.6rem;
				padding-left:20px !important;
				
			}
			ion-label{
				font-size: 1.4rem !important;
				font-weight: 100;
				color:#8dc421 !important;
				padding-left:20px;
			}
			
			.select,  .select {
				padding-left: 20px !important;
  
			}
		}
		
		
	}
	
	.toggle-md.toggle-checked .toggle-icon {
		background-color: #C5E1A5;
	}
	
	.toggle-md.toggle-checked .toggle-inner {
   
    background-color: #8cca19;}
	.b{
		
		
		bottom: 30px;
		width: calc(100% - 120px);
		text-align: center;
		
		@media(max-height: 640px) {
			bottom: 30px;
			width: calc(100% - 40px);
		}
	}
	button.end{
		width: 60%;
		height: 50px !important;
		font-size: 1.8rem !important;
		background: #ffF!important;
		color: #8cca19!important;
		
		
		@media(max-height: 640px) {
			height: 40px !important;
			font-size: 1.4rem !important;
			 margin: 0px 0px 25px 20px;
			top: 25px;
		}
	}
	
	input, ion-datetime, ion-select, ion-textarea{
	padding-left:10px !important;
	color: #344e03 !important;
}
	
}
