<ion-header no-border >
    <ion-navbar>
		<ion-toolbar >
		  <ion-title > <span class="logo">Wortix</span></ion-title>
		</ion-toolbar>
	</ion-navbar>
	
</ion-header>


<ion-content padding>
	<!--<p> Es para mi? </p>-->
	
	<!-- <p> Valor de la consulta:  $  </p> -->
	<ion-list>
	  <ion-item>
		<ion-label stacked>Name</ion-label>
		<ion-input type="text" [(ngModel)]="nalergia.name"></ion-input>
	  </ion-item>
	  
	  <ion-item>
		<ion-label stacked>Severity</ion-label>
		<ion-input type="text" [(ngModel)]="nalergia.severity"></ion-input>
	  </ion-item>
	  
	  <ion-item>
		<ion-label stacked>Note</ion-label>
		<ion-textarea  type="text" [(ngModel)]="nalergia.note"></ion-textarea >
	  </ion-item>
	  
	
	</ion-list>
	<div class="b" style="">
		<button class='end' ion-button  round (click)="nueva_alergia()"> Agregar Alergia </button>
	</div>
</ion-content>

