page-allergies {
	.logo{
		/*background-image: url(/assets/imgs/logo_color.svg);*/
		background-size: inherit;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		color: rgba(0,0,0,0);
		margin-right:40px;
		font-size: 40px;
	}
	
	ion-content{
		background: #8cca19 !important;
		color: #fff;
		
	}
	
	.scroll-content {
		padding: 60px !important;
		
		@media(max-height: 640px) {
			 padding: 20px !important;
		}
	}

	h1, p{
		color: #fff;
	}
	
	ion-item{
		background-color: #0000 !important;
		
		ion-label{
			color: #fff  !important;
		}
	}
	
	.chip{
		font-size: 1.4rem;
		border: 1px solid #fff;
		border-radius: 15px;
		padding: 2px 4px;
	}
	
	ion-item{
		.item-inner{
			border:none !important;
			
			ion-input, ion-textarea, ion-datetime{
				    border: 1px #5d474757 solid;
					border-radius: 10px;
					margin-top: 6px;
					background: #f0f8ff61;
				
			}
			
			ion-textarea{
				min-height: 15.6rem;
				
			}
			ion-label{
				font-size: 1.8rem !important;
				font-weight: 100;
			}
		}
		
		
	}
	
	.b{
		
		position: absolute;
		bottom: 30px;
		width: calc(100% - 120px);
		text-align: center;
		
		@media(max-height: 640px) {
			bottom: 30px;
			width: calc(100% - 40px);
		}
	}
	button.end{
		width: 60%;
		height: 50px !important;
		font-size: 1.8rem !important;
		background: #ffF!important;
		color: #8cca19!important;
		
		
		@media(max-height: 640px) {
			height: 40px !important;
			font-size: 1.4rem !important;
			margin-top:20px;
			top: 25px;
		}
	}
	
}
